# EarthQuake Data:
Columns: Date,Time,Latitude,Longitude,Magnitude,Epicentre

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Read CSV file

In [2]:
dataDate = pd.read_csv('earthquake.csv')
dataDate.dtypes

Longitude     object
Latitude      object
Epicentre     object
Time          object
Magnitude    float64
Date          object
dtype: object

In [3]:
dataDate = pd.read_csv('earthquake.csv',parse_dates=['Date'])
dataDate.dtypes

Longitude            object
Latitude             object
Epicentre            object
Time                 object
Magnitude           float64
Date         datetime64[ns]
dtype: object

In [19]:
dataDate.describe()

        Magnitude
count  443.000000
mean     4.397968
std      0.479838
min      4.000000
25%      4.100000
50%      4.200000
75%      4.500000
max      7.600000

In [4]:
type(dataDate)

pandas.core.frame.DataFrame

In [17]:
dir(dataDate) #dateDate

    Longitude Latitude        Epicentre   Time  Magnitude       Date
0       85.39    27.58         Lalitpur  14:45        4.1 2015-06-26
1       85.49    27.94   Sindhupalchowk  23:51        4.2 2015-06-25
2       86.21    27.66          Dolakha  23:49        4.1 2015-06-25
3       85.17    27.78          Nuwakot  21:07        4.3 2015-06-25
4       85.75    27.85   Sindhupalchowk  14:59        4.0 2015-06-24
5       86.17    27.67          Dolakha  13:19        4.0 2015-06-22
6       86.00    27.80   Sindhupalchowk  19:26        4.3 2015-06-21
7       84.94    28.17           Gorkha   2:40        4.2 2015-06-20
8       82.76    28.65            Rukum  12:23        5.4 2015-06-20
9       84.92    28.26           Gorkha  13:50        4.0 2015-06-19
10      85.11    28.14          Dhading   8:24        4.1 2015-06-18
11      85.94    28.27            Tibet  08:00        5.1 2015-06-17
12      85.58    27.90   Sindhupalchowk  06:26        4.0 2015-06-17
13      85.59    27.91   Sindhupalchowk  06:14        5.2 2015-06-17
14      85.28    27.68        Kathmandu  05:58        4.4 2015-06-17
15      85.72    27.86   Sindhupalchowk  07:41        4.3 2015-12-31
16      86.12     27.7          Dolakha  03:52        4.2 2015-12-28
17      81.29    29.35           Bajura  04:48        4.1 2015-12-26
18      86.08    27.79          Dolakha  08:59        4.1 2015-12-23
19      81.69    29.44           Bajura  22:16        5.5 2015-12-18
20      85.02    28.04          Dhading  08:45        4.1 2015-12-13
21      86.19    27.86          Dolakha   7:27        4.0 2015-12-07
22      85.39    27.78        Kathmandu   6:10        4.1 2015-11-30
23      85.53    27.63  Kavrepalanchowk  15:23        4.1 2015-11-27
24      87.95    27.11        Panchthar  10:37        4.6 2015-11-27
25      85.77    27.87   Sindhupalchowk  00:42        4.1 2015-11-25
26      84.81    28.15           Gorkha  18:09        4.4 2015-11-24
27      85.29    27.87          Nuwakot  17:00        4.0 2015-11-24
28      86.16    27.70          Dolakha  21:56        4.1 2015-06-16
29      85.72    27.87   Sindhupalchowk  15:52        4.1 2015-06-15
..        ...      ...              ...    ...        ...        ...
413      85.6    27.89   Sindhupalchowk  18:56        5.0 2015-04-26
414     85.91    27.77   Sindhupalchowk  15:27        4.5 2015-04-26
415     85.81    27.97   Sindhupalchowk  14:31        4.5 2015-04-26
416        86    27.79   Sindhupalchowk  14:25        4.8 2015-04-26
417     86.05    27.94            Tibet  13:22        5.0 2015-04-26
418     85.94    27.75   Sindhupalchowk  13:12        5.3 2015-04-26
419     86.05    27.84          Dolakha  12:54        6.9 2015-04-26
420     85.02    28.26           Gorkha  10:43        4.8 2015-04-26
421      85.5    28.04   Sindhupalchowk  10:35        4.5 2015-04-26
422     85.63    27.64            Kavre  09:06        5.0 2015-04-26
423     85.16     27.8          Nuwakot  08:55        5.1 2015-04-26
424     84.73    28.32           Gorkha  08:43        4.5 2015-04-26
425     85.12    27.84          Nuwakot  06:16        4.0 2015-04-26
426     85.28    27.67        Kathmandu  06:00        4.0 2015-04-26
427     85.34    28.05           Rasuwa  05:32        4.0 2015-04-26
428     86.07    27.67          Dolakha  05:26        4.5 2015-04-26
429     85.25    27.69        Kathmandu  05:25        4.0 2015-04-26
430     85.02    27.99          Nuwakot  05:01        5.5 2015-04-26
431      85.8    27.82   Sindhupalchowk  02:52        4.8 2015-04-26
432     84.99    27.98           Gorkha  02:49        4.0 2015-04-26
433     85.96     27.6   Sindhupalchowk  02:17        4.8 2015-04-26
434     84.82    28.24           Gorkha  02:14        4.3 2015-04-26
435     85.83    28.25           Rasuwa  02:08        4.0 2015-04-26
436     85.56    27.93   Sindhupalchowk  01:56        4.4 2015-04-26
437     84.71    28.14           Gorkha  01:52        4.2 2015-04-26
438     85.35    28.05           Rasuwa  01:49        4.0 2015-04-26
439     85.56    27.93   Sindhupalchowk  01:29        4.1 2015-04-26
440     85.43    27.71        Kathmandu  00:43        4.6 2015-04-26
441     85.55    27.94   Sindhupalchowk  00:14        4.1 2015-04-26
442     85.98    27.78   Sindhupalchowk  23:46        4.1 2015-04-25

[443 rows x 6 columns]

In [40]:
dataDate.head() #head(50), head(50)[20:39]

  Longitude Latitude       Epicentre   Time  Magnitude       Date
2     86.21    27.66         Dolakha  23:49        4.1 2015-06-25
3     85.17    27.78         Nuwakot  21:07        4.3 2015-06-25
4     85.75    27.85  Sindhupalchowk  14:59        4.0 2015-06-24
5     86.17    27.67         Dolakha  13:19        4.0 2015-06-22

#Rows from middle sections!

In [14]:
dataDate.tail()

    Longitude Latitude       Epicentre   Time  Magnitude       Date
438     85.35    28.05          Rasuwa  01:49        4.0 2015-04-26
439     85.56    27.93  Sindhupalchowk  01:29        4.1 2015-04-26
440     85.43    27.71       Kathmandu  00:43        4.6 2015-04-26
441     85.55    27.94  Sindhupalchowk  00:14        4.1 2015-04-26
442     85.98    27.78  Sindhupalchowk  23:46        4.1 2015-04-25

In [21]:
data = pd.read_csv('earthquake.csv')

In [42]:
data.columns

Index(['Longitude', 'Latitude', 'Epicentre', 'Time', 'Magnitude', 'Date'], dtype='object')

In [22]:
data.dtypes

Longitude     object
Latitude      object
Epicentre     object
Time          object
Magnitude    float64
Date          object
dtype: object

In [23]:
data.describe()

        Magnitude
count  443.000000
mean     4.397968
std      0.479838
min      4.000000
25%      4.100000
50%      4.200000
75%      4.500000
max      7.600000

In [25]:
data[['Latitude','Longitude','Date','Epicentre']].describe()  #top, freq? #set() for unique

       Latitude Longitude        Date Epicentre
count       443       443         443       443
unique      114       188         139        28
top       27.80     86.17  2015/04/26   Dolakha
freq         16         9          38       143

In [41]:
data[['Latitude','Longitude','Date','Epicentre','Magnitude','Time']][50:80]  #3S : start, stop, step

   Latitude Longitude        Date       Epicentre  Magnitude   Time
50    27.97     85.48  2015/05/16         Nuwakot        4.0  06:11
51    27.66     86.09  2015/05/16         Dolakha        4.1  04:38
52    27.65     86.12  2015/05/16         Dolakha        4.1  04:28
53    28.07     84.70  2015/05/16          Gorkha        4.0  02:15
54    27.74     86.17  2015/05/15         Dolakha        4.0  22:58
55    27.61     86.20  2015/05/15         Dolakha        4.5  15:09
56    27.92     84.84  2015/05/15         Dhading        4.0  10:51
57    27.93     84.84  2015/05/15         Dhading        5.5  07:27
58    27.69     86.08  2015/05/15         Dolakha        4.3  04:06
59    28.21     84.81  2015/06/12          Gorkha        4.6  01:22
60    27.96     85.73  2015/06/11  Sindhupalchowk        5.3  21:57
61    27.80     85.78  2015/06/11  Sindhupalchowk        4.6  10:02
62    27.67     86.07  2015/06/11         Dolakha        4.0  00:26
63    27.62     86.10  2015/06/10         Dolakha        4.2  14:51
64    27.80     85.61  2015/06/10  Sindhupalchowk        4.3  13:36
65    27.87     85.81  2015/06/10  Sindhupalchowk        4.1  02:50
66    27.87     86.13  2015/06/07         Dolakha        4.1  22:35
67    27.90     85.64  2015/06/07  Sindhupalchowk        4.6  11:02
68    27.58     86.18  2015/06/06         Dolakha        4.0  22:45
69    28.26     85.86  2015/06/06           Tibet        4.2  02:33
70    27.70     85.22  2015/06/05       Kathmandu        4.0  14:16
71    27.79     85.78  2015/06/05  Sindhupalchowk        4.1  10:02
72    27.71     86.10  2015/10/05         Dolakha        4.2  13:21
73    27.71     86.15  2015/10/05         Dolakha        4.8  13:18
74    27.77     85.87  2015/09/29  Sindhupalchowk        4.6  16:39
75    29.83     80.60  2015/09/29        Darchula        4.6  09:27
76    27.74     85.07  2015/09/22         Dhading        4.5  12:17
77    27.76     86.37  2015/09/20         Dolakha        4.0  04:05
78    27.60     86.19  2015/09/16         Dolakha        4.2  20:37
79    27.82     86.24  2015/09/09         Dolakha        4.0  18:23

In [46]:
data.T

,0,1,2,3,4,5,6,7,8,9,...,434,435,436,437,438,439,440,441,442,443
Longitude,86.28,85.39,85.49,86.21,85.17,85.75,86.17,86.00,84.94,82.76,...,85.96,84.82,85.83,85.56,84.71,85.35,85.56,85.43,85.55,85.98
Latitude,27.74,27.58,27.94,27.66,27.78,27.85,27.67,27.80,28.17,28.65,...,27.6,28.24,28.25,27.93,28.14,28.05,27.93,27.71,27.94,27.78
Epicentre,Dolakha,Lalitpur,Sindhupalchowk,Dolakha,Nuwakot,Sindhupalchowk,Dolakha,Sindhupalchowk,Gorkha,Rukum,...,Sindhupalchowk,Gorkha,Rasuwa,Sindhupalchowk,Gorkha,Rasuwa,Sindhupalchowk,Kathmandu,Sindhupalchowk,Sindhupalchowk
Time,18:02,14:45,23:51,23:49,21:07,14:59,13:19,19:26,2:40,12:23,...,02:17,02:14,02:08,01:56,01:52,01:49,01:29,00:43,00:14,23:46
Magnitude,4.2,4.1,4.2,4.1,4.3,4,4,4.3,4.2,5.4,...,4.8,4.3,4,4.4,4.2,4,4.1,4.6,4.1,4.1
Date,2015/06/26,2015/06/26,2015/06/25,2015/06/25,2015/06/25,2015/06/24,2015/06/22,2015/06/21,2015/06/20,2015/06/20,...,2015/04/26,2015/04/26,2015/04/26,2015/04/26,2015/04/26,2015/04/26,2015/04/26,2015/04/26,2015/04/26,2015/04/25

In [43]:
#help(data.sort_values)

In [44]:
data[data.columns][50:80]  #efficeint!

   Longitude Latitude       Epicentre   Time  Magnitude        Date
50     85.48    27.97         Nuwakot  06:11        4.0  2015/05/16
51     86.09    27.66         Dolakha  04:38        4.1  2015/05/16
52     86.12    27.65         Dolakha  04:28        4.1  2015/05/16
53     84.70    28.07          Gorkha  02:15        4.0  2015/05/16
54     86.17    27.74         Dolakha  22:58        4.0  2015/05/15
55     86.20    27.61         Dolakha  15:09        4.5  2015/05/15
56     84.84    27.92         Dhading  10:51        4.0  2015/05/15
57     84.84    27.93         Dhading  07:27        5.5  2015/05/15
58     86.08    27.69         Dolakha  04:06        4.3  2015/05/15
59     84.81    28.21          Gorkha  01:22        4.6  2015/06/12
60     85.73    27.96  Sindhupalchowk  21:57        5.3  2015/06/11
61     85.78    27.80  Sindhupalchowk  10:02        4.6  2015/06/11
62     86.07    27.67         Dolakha  00:26        4.0  2015/06/11
63     86.10    27.62         Dolakha  14:51        4.2  2015/06/10
64     85.61    27.80  Sindhupalchowk  13:36        4.3  2015/06/10
65     85.81    27.87  Sindhupalchowk  02:50        4.1  2015/06/10
66     86.13    27.87         Dolakha  22:35        4.1  2015/06/07
67     85.64    27.90  Sindhupalchowk  11:02        4.6  2015/06/07
68     86.18    27.58         Dolakha  22:45        4.0  2015/06/06
69     85.86    28.26           Tibet  02:33        4.2  2015/06/06
70     85.22    27.70       Kathmandu  14:16        4.0  2015/06/05
71     85.78    27.79  Sindhupalchowk  10:02        4.1  2015/06/05
72     86.10    27.71         Dolakha  13:21        4.2  2015/10/05
73     86.15    27.71         Dolakha  13:18        4.8  2015/10/05
74     85.87    27.77  Sindhupalchowk  16:39        4.6  2015/09/29
75     80.60    29.83        Darchula  09:27        4.6  2015/09/29
76     85.07    27.74         Dhading  12:17        4.5  2015/09/22
77     86.37    27.76         Dolakha  04:05        4.0  2015/09/20
78     86.19    27.60         Dolakha  20:37        4.2  2015/09/16
79     86.24    27.82         Dolakha  18:23        4.0  2015/09/09

In [28]:
data.sort_values(by='Epicentre',ascending=False)

    Longitude Latitude       Epicentre   Time  Magnitude        Date
275     86.67    26.94        Udayapur  02:44        4.0  2015/05/10
417     86.05    27.94           Tibet  13:22        5.0  2015/04/26
169     86.36    28.03           Tibet  20:44        4.1  2015/05/12
300     85.91    28.34           Tibet  23:27        5.6  2015/04/25
348     85.80    28.41           Tibet  12:23        5.5  2015/04/25
344     85.71    27.99           Tibet  13:32        5.1  2015/04/25
11      85.94    28.27           Tibet  08:00        5.1  2015/06/17
276     85.96    28.04           Tibet  01:50        4.2  2015/05/10
168     86.45    27.97           Tibet  21:13        4.8  2015/05/12
69      85.86    28.26           Tibet  02:33        4.2  2015/06/06
123     87.87    27.33       Taplejung  05:42        4.5  2015/08/15
80      86.01    27.75  Sindhupalchowk   5:10        4.3  2015/09/03
279     85:64    27:93  Sindhupalchowk  23:34        4.0  2015/06/29
106     85.51    27.98  Sindhupalchowk  04:35        4.0  2015/06/01
280     85.68    27.92  Sindhupalchowk  23:27        4.1  2015/06/29
282     85.66    27.92  Sindhupalchowk  22:01        4.3  2015/06/28
103     85.78    27.84  Sindhupalchowk  02:45        4.1  2015/06/03
102     85.87    27.79  Sindhupalchowk  13:37        4.5  2015/06/03
283     85.88    27.77  Sindhupalchowk  13:32        4.8  2015/05/08
284     85.91    27.75  Sindhupalchowk  08:19        4.2  2015/05/08
286     85.58    27.94  Sindhupalchowk  02:19        4.0  2015/05/08
292     86.00    27.96  Sindhupalchowk  17:00        4.2  2015/05/05
296     85.86    27.95  Sindhupalchowk  15:40        4.4  2015/05/04
302     85.53     27.9  Sindhupalchowk  23:24        4.0  2015/04/25
92      85.82    27.80  Sindhupalchowk  08:52        4.0  2015/05/14
303     85.83    27.77  Sindhupalchowk  23:19        4.1  2015/04/25
305     85.64    27.92  Sindhupalchowk  22:12        5.3  2015/04/25
150     85.53    27.89  Sindhupalchowk  13:16        4.6  2015/05/27
306     85.56    27.95  Sindhupalchowk  21:02        4.2  2015/04/25
322      85.8    27.87  Sindhupalchowk  16:08        4.1  2015/04/25
..        ...      ...             ...    ...        ...         ...
10      85.11    28.14         Dhading   8:24        4.1  2015/06/18
328     84.86     27.9         Dhading  14:05        5.1  2015/04/25
147     84.80    27.95         Dhading  03:40        4.0  2015/05/28
76      85.07    27.74         Dhading  12:17        4.5  2015/09/22
339     84.83    27.94         Dhading  10:46        4.5  2015/05/03
375     84.89    27.86         Dhading  15:24        4.5  2015/04/29
249     84.88    28.11         Dhading  18:27        4.1  2015/05/18
56      84.84    27.92         Dhading  10:51        4.0  2015/05/15
372     84.83    27.93         Dhading  06:22        4.7  2015/04/30
140     84.94    28.07         Dhading  05:20        4.2  2015/05/29
259     85.00    27.73         Dhading  01:49        4.6  2015/07/04
269     84.91    28.10         Dhading  00:07        4.0  2015/05/12
112     84.94    27.92         Dhading  03:09        4.3  2015/08/30
111     84.98     28.0         Dhading  15:44        5.2  2015/05/29
110     85.21    27.75         Dhading  01:52        4.0  2015/05/30
391     85.03    28.19         Dhading  23:30        4.0  2015/04/27
20      85.02    28.04         Dhading  08:45        4.1  2015/12/13
148     84.79    27.99         Dhading  03:07        4.0  2015/05/28
137     84.82    27.91         Dhading  03:10        5.9  2015/05/13
57      84.84    27.93         Dhading  07:27        5.5  2015/05/15
294     85.05    28.06         Dhading  06:39        4.0  2015/05/05
219     80.73    29.80        Darchula  02:29        4.1  2015/07/15
75      80.60    29.83        Darchula  09:27        4.6  2015/09/29
356     81.51    29.07         Dailekh  01:26        4.5  2015/01/06
353     87.01    27.42         Bhojpur  22:51        4.5  2015/02/14
227     81.74    29.69          Bajura  09:31        4.6  2015/07/07
17      81.29    29.35          Bajura  04:48        4.1  2015/12/26
19      81.69    29.44          Bajura  22:16        5.5  2015/12/18
35      83.36    28.35         Baglung  08:00        4.0  2015/11/20
226     83.13    28.48         Baglung  15:21        4.2  2015/07/07

[443 rows x 6 columns]

In [38]:
data['Epicentre','Magnitude'][::15]

0             Dolakha
15          Kathmandu
30     Sindhupalchowk
45           Lalitpur
60             Gorkha
75     Sindhupalchowk
90            Dolakha
105             Humla
120            Rasuwa
135           Dolakha
150           Nuwakot
165           Dolakha
180           Dolakha
195           Dolakha
210           Dolakha
225           Dolakha
240           Dolakha
255           Dolakha
270           Dhading
285    Sindhupalchowk
300            Rasuwa
315           Dolakha
330    Sindhupalchowk
345             Tibet
360    Sindhupalchowk
375    Sindhupalchowk
390    Sindhupalchowk
405    Sindhupalchowk
420           Dolakha
435            Gorkha
Name: Epicentre, dtype: object

In [36]:
print(set(data['Epicentre']))

{'Kathmandu', 'Gorkha', 'Lamjung', 'Bhojpur', 'Dailekh', 'Lalitpur', 'Jajarkot', 'Doti', 'Baglung', 'Humla', 'Kavrepalanchowk', 'Rukum', 'Myagdi', 'Sindhupalchowk', 'Dolakha', 'Kaski', 'Udayapur', 'Bajura', 'Panchthar', 'Dhading', 'Darchula', 'Rasuwa', 'Kavre', 'Ramechhap', 'Taplejung', 'Tibet', 'Lalitput', 'Nuwakot'}

In [22]:
data.head()

  Longitude Latitude       Epicentre   Time  Magnitude        Date
0     86.28    27.74         Dolakha  18:02        4.2  2015/06/26
1     85.39    27.58        Lalitpur  14:45        4.1  2015/06/26
2     85.49    27.94  Sindhupalchowk  23:51        4.2  2015/06/25
3     86.21    27.66         Dolakha  23:49        4.1  2015/06/25
4     85.17    27.78         Nuwakot  21:07        4.3  2015/06/25

In [23]:
data.tail()

    Longitude Latitude       Epicentre   Time  Magnitude        Date
439     85.35    28.05          Rasuwa  01:49        4.0  2015/04/26
440     85.56    27.93  Sindhupalchowk  01:29        4.1  2015/04/26
441     85.43    27.71       Kathmandu  00:43        4.6  2015/04/26
442     85.55    27.94  Sindhupalchowk  00:14        4.1  2015/04/26
443     85.98    27.78  Sindhupalchowk  23:46        4.1  2015/04/25

In [24]:
data.head(12)

   Longitude Latitude       Epicentre   Time  Magnitude        Date
0      86.28    27.74         Dolakha  18:02        4.2  2015/06/26
1      85.39    27.58        Lalitpur  14:45        4.1  2015/06/26
2      85.49    27.94  Sindhupalchowk  23:51        4.2  2015/06/25
3      86.21    27.66         Dolakha  23:49        4.1  2015/06/25
4      85.17    27.78         Nuwakot  21:07        4.3  2015/06/25
5      85.75    27.85  Sindhupalchowk  14:59        4.0  2015/06/24
6      86.17    27.67         Dolakha  13:19        4.0  2015/06/22
7      86.00    27.80  Sindhupalchowk  19:26        4.3  2015/06/21
8      84.94    28.17          Gorkha   2:40        4.2  2015/06/20
9      82.76    28.65           Rukum  12:23        5.4  2015/06/20
10     84.92    28.26          Gorkha  13:50        4.0  2015/06/19
11     85.11    28.14         Dhading   8:24        4.1  2015/06/18

In [26]:
#data[0::40]  # get rows from DataFrame: data

In [8]:
#some filtering of Data
data[data['Magnitude']>=4.5 ]

    Longitude Latitude        Epicentre   Time  Magnitude        Date
9       82.76    28.65            Rukum  12:23        5.4  2015/06/20
12      85.94    28.27            Tibet  08:00        5.1  2015/06/17
14      85.59    27.91   Sindhupalchowk  06:14        5.2  2015/06/17
20      81.69    29.44           Bajura  22:16        5.5  2015/12/18
25      87.95    27.11        Panchthar  10:37        4.6  2015/11/27
33      86.16    27.73          Dolakha  07:03        5.2  2015/06/13
38      85.75    27.89   Sindhupalchowk  10:00        5.3  2015/11/19
56      86.20    27.61          Dolakha  15:09        4.5  2015/05/15
58      84.84    27.93          Dhading  07:27        5.5  2015/05/15
60      84.81    28.21           Gorkha  01:22        4.6  2015/06/12
61      85.73    27.96   Sindhupalchowk  21:57        5.3  2015/06/11
62      85.78    27.80   Sindhupalchowk  10:02        4.6  2015/06/11
68      85.64    27.90   Sindhupalchowk  11:02        4.6  2015/06/07
74      86.15    27.71          Dolakha  13:18        4.8  2015/10/05
75      85.87    27.77   Sindhupalchowk  16:39        4.6  2015/09/29
76      80.60    29.83         Darchula  09:27        4.6  2015/09/29
77      85.07    27.74          Dhading  12:17        4.5  2015/09/22
84      85.75    27.72   Sindhupalchowk  19:02        5.0  2015/08/30
89      85.35    28.06           Rasuwa  20:21        4.5  2015/05/14
92      86.15    27.83          Dolakha  09:06        4.5  2015/05/14
94      86.08    27.67          Dolakha  03:23        5.0  2015/05/14
99      86.17    27.63          Dolakha  16:44        4.5  2015/05/13
101     86.26    27.70          Dolakha  17:38        4.5  2015/06/03
103     85.87    27.79   Sindhupalchowk  13:37        4.5  2015/06/03
105     81.75     30.0            Humla  20:33        4.7  2015/06/02
109     85.17    27.79          Nuwakot  22:13        4.5  2015/05/30
112     84.98     28.0          Dhading  15:44        5.2  2015/05/29
118     86.17    27.87          Dolakha  14:47        5.1  2015/08/23
120     85.29    28.00           Rasuwa  11:47        4.6  2015/08/20
121     86.14    27.93          Dolakha  04:08        4.8  2015/08/18
..        ...      ...              ...    ...        ...         ...
372     85.34    28.05           Rasuwa  08:31        4.7  2015/04/30
373     84.83    27.93          Dhading  06:22        4.7  2015/04/30
375     85.52    27.95   Sindhupalchowk  17:12        4.5  2015/04/29
376     84.89    27.86          Dhading  15:24        4.5  2015/04/29
387     85.49    28.10   Sindhupalchowk  05:05        4.9  2015/04/28
391     84.93    28.29           Gorkha  00:44        4.8  2015/04/28
394     85.29    27.67        Kathmandu  21:36        4.5  2015/04/27
399     85.12    27.77          Nuwakot  06:24        4.7  2015/04/27
401     85.74    27.57  Kavrepalanchowk  04:17        4.5  2015/04/27
404     85.10    28.26           Rasuwa  00:39        4.5  2015/04/27
407     85.87    27.95   Sindhupalchowk  22:10        5.3  2015/04/26
410     84.97    28.31           Gorkha  20:42        4.5  2015/04/26
411     85.97    27.72   Sindhupalchowk  20:29        4.5  2015/04/26
414      85.6    27.89   Sindhupalchowk  18:56        5.0  2015/04/26
415     85.91    27.77   Sindhupalchowk  15:27        4.5  2015/04/26
416     85.81    27.97   Sindhupalchowk  14:31        4.5  2015/04/26
417        86    27.79   Sindhupalchowk  14:25        4.8  2015/04/26
418     86.05    27.94            Tibet  13:22        5.0  2015/04/26
419     85.94    27.75   Sindhupalchowk  13:12        5.3  2015/04/26
420     86.05    27.84          Dolakha  12:54        6.9  2015/04/26
421     85.02    28.26           Gorkha  10:43        4.8  2015/04/26
422      85.5    28.04   Sindhupalchowk  10:35        4.5  2015/04/26
423     85.63    27.64            Kavre  09:06        5.0  2015/04/26
424     85.16     27.8          Nuwakot  08:55        5.1  2015/04/26
425     84.73    28.32           Gorkha  08:43        4.5  2015/04/26
429     86.07    27.67          Dolakha  05:26        4.5  2015/04/26
431     85.02    27.99          Nuwakot  05:01        5.5  2015/04/26
432      85.8    27.82   Sindhupalchowk  02:52        4.8  2015/04/26
434     85.96     27.6   Sindhupalchowk  02:17        4.8  2015/04/26
441     85.43    27.71        Kathmandu  00:43        4.6  2015/04/26

[142 rows x 6 columns]

In [14]:
data[data.Epicentre.isin(['Sindhupalchowk','Nuwakot','Gorkha']) & (data.Magnitude>5.0)]

    Longitude Latitude       Epicentre   Time  Magnitude        Date
14      85.59    27.91  Sindhupalchowk  06:14        5.2  2015/06/17
38      85.75    27.89  Sindhupalchowk  10:00        5.3  2015/11/19
61      85.73    27.96  Sindhupalchowk  21:57        5.3  2015/06/11
238     85.83    27.80  Sindhupalchowk  13:58        5.3  2015/05/12
239     85.94    27.80  Sindhupalchowk  13:51        5.1  2015/05/12
306     85.64    27.92  Sindhupalchowk  22:12        5.3  2015/04/25
317     84.71    28.16          Gorkha  18:29        5.5  2015/04/25
325      85.6       28  Sindhupalchowk  15:15        5.5  2015/04/25
326     85.33    27.91         Nuwakot  14:48        5.3  2015/04/25
328     84.95    28.18          Gorkha  14:14        5.2  2015/04/25
330     85.84    27.78  Sindhupalchowk  14:02        5.2  2015/04/25
348     84.72    28.28          Gorkha  12:30        6.6  2015/04/25
350     84.75    28.24          Gorkha  11:56        7.6  2015/04/25
358     84.76    28.24          Gorkha  11:20        5.1  2015/05/02
407     85.87    27.95  Sindhupalchowk  22:10        5.3  2015/04/26
419     85.94    27.75  Sindhupalchowk  13:12        5.3  2015/04/26
424     85.16     27.8         Nuwakot  08:55        5.1  2015/04/26
431     85.02    27.99         Nuwakot  05:01        5.5  2015/04/26

In [13]:
data[data.Epicentre.isin(['Sindhupalchowk','Nuwakot','Gorkha']) ]#Dolakha

    Longitude Latitude       Epicentre   Time  Magnitude        Date
2       85.49    27.94  Sindhupalchowk  23:51        4.2  2015/06/25
4       85.17    27.78         Nuwakot  21:07        4.3  2015/06/25
5       85.75    27.85  Sindhupalchowk  14:59        4.0  2015/06/24
7       86.00    27.80  Sindhupalchowk  19:26        4.3  2015/06/21
8       84.94    28.17          Gorkha   2:40        4.2  2015/06/20
10      84.92    28.26          Gorkha  13:50        4.0  2015/06/19
13      85.58    27.90  Sindhupalchowk  06:26        4.0  2015/06/17
14      85.59    27.91  Sindhupalchowk  06:14        5.2  2015/06/17
16      85.72    27.86  Sindhupalchowk  07:41        4.3  2015/12/31
26      85.77    27.87  Sindhupalchowk  00:42        4.1  2015/11/25
27      84.81    28.15          Gorkha  18:09        4.4  2015/11/24
28      85.29    27.87         Nuwakot  17:00        4.0  2015/11/24
30      85.72    27.87  Sindhupalchowk  15:52        4.1  2015/06/15
32      85.15    27.80         Nuwakot  05:59        4.2  2015/06/14
37      85.88    27.77  Sindhupalchowk  17:44        4.0  2015/11/19
38      85.75    27.89  Sindhupalchowk  10:00        5.3  2015/11/19
40      85.65    27.99  Sindhupalchowk  15.45        4.2  2015/11/12
44      85.54    27.96  Sindhupalchowk  21:58        4.1  2015/10/08
49      85.85    27.70  Sindhupalchowk  09:24        4.2  2015/05/16
50      84.89    28.13          Gorkha  06:31        4.0  2015/05/16
51      85.48    27.97         Nuwakot  06:11        4.0  2015/05/16
54      84.70    28.07          Gorkha  02:15        4.0  2015/05/16
60      84.81    28.21          Gorkha  01:22        4.6  2015/06/12
61      85.73    27.96  Sindhupalchowk  21:57        5.3  2015/06/11
62      85.78    27.80  Sindhupalchowk  10:02        4.6  2015/06/11
65      85.61    27.80  Sindhupalchowk  13:36        4.3  2015/06/10
66      85.81    27.87  Sindhupalchowk  02:50        4.1  2015/06/10
68      85.64    27.90  Sindhupalchowk  11:02        4.6  2015/06/07
72      85.78    27.79  Sindhupalchowk  10:02        4.1  2015/06/05
75      85.87    27.77  Sindhupalchowk  16:39        4.6  2015/09/29
..        ...      ...             ...    ...        ...         ...
393     85.89    27.82  Sindhupalchowk  22:39        4.2  2015/04/27
395     85.12    27.80         Nuwakot  15:17        4.0  2015/04/27
396     85.86    27.93  Sindhupalchowk  10:05        4.0  2015/04/27
399     85.12    27.77         Nuwakot  06:24        4.7  2015/04/27
400     85.76    27.82  Sindhupalchowk  04:27        4.4  2015/04/27
405     85.55    27.91  Sindhupalchowk  23:51        4.2  2015/04/26
407     85.87    27.95  Sindhupalchowk  22:10        5.3  2015/04/26
410     84.97    28.31          Gorkha  20:42        4.5  2015/04/26
411     85.97    27.72  Sindhupalchowk  20:29        4.5  2015/04/26
412     85.15    27.79         Nuwakot  20:17        4.0  2015/04/26
414      85.6    27.89  Sindhupalchowk  18:56        5.0  2015/04/26
415     85.91    27.77  Sindhupalchowk  15:27        4.5  2015/04/26
416     85.81    27.97  Sindhupalchowk  14:31        4.5  2015/04/26
417        86    27.79  Sindhupalchowk  14:25        4.8  2015/04/26
419     85.94    27.75  Sindhupalchowk  13:12        5.3  2015/04/26
421     85.02    28.26          Gorkha  10:43        4.8  2015/04/26
422      85.5    28.04  Sindhupalchowk  10:35        4.5  2015/04/26
424     85.16     27.8         Nuwakot  08:55        5.1  2015/04/26
425     84.73    28.32          Gorkha  08:43        4.5  2015/04/26
426     85.12    27.84         Nuwakot  06:16        4.0  2015/04/26
431     85.02    27.99         Nuwakot  05:01        5.5  2015/04/26
432      85.8    27.82  Sindhupalchowk  02:52        4.8  2015/04/26
433     84.99    27.98          Gorkha  02:49        4.0  2015/04/26
434     85.96     27.6  Sindhupalchowk  02:17        4.8  2015/04/26
435     84.82    28.24          Gorkha  02:14        4.3  2015/04/26
437     85.56    27.93  Sindhupalchowk  01:56        4.4  2015/04/26
438     84.71    28.14          Gorkha  01:52        4.2  2015/04/26
440     85.56    27.93  Sindhupalchowk  01:29        4.1  2015/04/26
442     85.55    27.94  Sindhupalchowk  00:14        4.1  2015/04/26
443     85.98    27.78  Sindhupalchowk  23:46        4.1  2015/04/25

[180 rows x 6 columns]

In [12]:
data[data.Epicentre.str.contains(r'Dol')]#Dolakha

    Longitude Latitude Epicentre   Time  Magnitude        Date
0       86.28    27.74   Dolakha  18:02        4.2  2015/06/26
3       86.21    27.66   Dolakha  23:49        4.1  2015/06/25
6       86.17    27.67   Dolakha  13:19        4.0  2015/06/22
17      86.12     27.7   Dolakha  03:52        4.2  2015/12/28
19      86.08    27.79   Dolakha  08:59        4.1  2015/12/23
22      86.19    27.86   Dolakha   7:27        4.0  2015/12/07
29      86.16    27.70   Dolakha  21:56        4.1  2015/06/16
31      86.26    27.74   Dolakha  15:01        4.1  2015/06/14
33      86.16    27.73   Dolakha  07:03        5.2  2015/06/13
34      86.09    27.67   Dolakha  10:19        4.4  2015/06/12
42       86.3     27.8   Dolakha  23:46        4.2  2015/10/17
43      86.16    27.71   Dolakha  14:28        4.2  2015/10/16
46      86.08    27.68   Dolakha  05:15        4.2  2015/10/07
47      86.09    27.69   Dolakha  17:47        4.2  2015/10/06
52      86.09    27.66   Dolakha  04:38        4.1  2015/05/16
53      86.12    27.65   Dolakha  04:28        4.1  2015/05/16
55      86.17    27.74   Dolakha  22:58        4.0  2015/05/15
56      86.20    27.61   Dolakha  15:09        4.5  2015/05/15
59      86.08    27.69   Dolakha  04:06        4.3  2015/05/15
63      86.07    27.67   Dolakha  00:26        4.0  2015/06/11
64      86.10    27.62   Dolakha  14:51        4.2  2015/06/10
67      86.13    27.87   Dolakha  22:35        4.1  2015/06/07
69      86.18    27.58   Dolakha  22:45        4.0  2015/06/06
73      86.10    27.71   Dolakha  13:21        4.2  2015/10/05
74      86.15    27.71   Dolakha  13:18        4.8  2015/10/05
78      86.37    27.76   Dolakha  04:05        4.0  2015/09/20
79      86.19    27.60   Dolakha  20:37        4.2  2015/09/16
80      86.24    27.82   Dolakha  18:23        4.0  2015/09/09
82      86.19    27.64   Dolakha  04:51        4.4  2015/09/02
85      86.23    27.66   Dolakha  08:26        4.1  2015/08/30
..        ...      ...       ...    ...        ...         ...
249     86.03    27.66   Dolakha  04:34        4.3  2015/05/19
251     86.26    27.69   Dolakha  11:24        4.0  2015/05/18
252     86.07    27.71   Dolakha  09:11        4.2  2015/05/18
253     86.24    27.84   Dolakha  20:40        4.4  2015/05/17
255     86.06    27.73   Dolakha  05:00        4.4  2015/05/17
256     86.14    27.64   Dolakha  20:44        4.3  2015/05/16
257     86.26     27.6   Dolakha  17:19        5.5  2015/05/16
258     86.20    27.67   Dolakha  10:07        4.2  2015/07/05
264     86.12    27.71   Dolakha  09:12        4.0  2015/07/01
267     86.17    27.84   Dolakha  13:02        5.8  2015/05/12
268     86.12    27.82   Dolakha  12:50        6.8  2015/05/12
286     86.04    27.69   Dolakha  06:17        5.0  2015/05/08
294     86.03    27.74   Dolakha  16:23        4.3  2015/05/05
296     86.00    27.74   Dolakha  18:02        4.2  2015/05/04
298     86.23    27.79   Dolakha  14:34        4.7  2015/05/04
310     86.09     27.6   Dolakha  20:21        4.5  2015/04/25
315     86.02    27.69   Dolakha  19:21        4.9  2015/04/25
318     86.05    27.82   Dolakha  18:24        4.5  2015/04/25
334     85.99    27.69   Dolakha  07:00        4.3  2015/05/04
344     86.01    27.66   Dolakha  21:01        4.1  2015/05/02
361     86.28    27.74   Dolakha  05:55        4.3  2015/05/02
365     85.99    27.74   Dolakha  17:37        4.0  2015/05/01
369     85.98    27.70   Dolakha  00:58        4.2  2015/05/01
371     86.09    27.65   Dolakha  13:29        4.1  2015/04/30
386     86.09    27.81   Dolakha  07:45        4.2  2015/04/28
406     86.06    27.83   Dolakha  22:42        4.0  2015/04/26
409     85.97    27.65   Dolakha  21:47        4.0  2015/04/26
413     85.95    27.68   Dolakha  19:08        4.0  2015/04/26
420     86.05    27.84   Dolakha  12:54        6.9  2015/04/26
429     86.07    27.67   Dolakha  05:26        4.5  2015/04/26

[144 rows x 6 columns]

In [11]:
data[data.Date.str.contains(r'/04/')] #April

    Longitude Latitude       Epicentre   Time  Magnitude        Date
300     85.27     28.1          Rasuwa  23:40        4.0  2015/04/25
301     85.91    28.34           Tibet  23:27        5.6  2015/04/25
302     85.17    27.78         Nuwakot  23:25        4.0  2015/04/25
303     85.53     27.9  Sindhupalchowk  23:24        4.0  2015/04/25
304     85.83    27.77  Sindhupalchowk  23:19        4.1  2015/04/25
305     85.29     27.8         Nuwakot  22:31        4.0  2015/04/25
306     85.64    27.92  Sindhupalchowk  22:12        5.3  2015/04/25
307     85.56    27.95  Sindhupalchowk  21:02        4.2  2015/04/25
308     85.16    28.14          Rasuwa  20:36        4.4  2015/04/25
309      85.9    27.73  Sindhupalchowk  20:25        5.0  2015/04/25
310     86.09     27.6         Dolakha  20:21        4.5  2015/04/25
311     85.25    28.05          Rasuwa  20:08        4.1  2015/04/25
312      85.9    27.73  Sindhupalchowk  19:55        4.7  2015/04/25
313     85.32    27.68       Kathmandu  19:47        4.1  2015/04/25
314     85.16    27.79         Nuwakot  19:38        4.1  2015/04/25
315     86.02    27.69         Dolakha  19:21        4.9  2015/04/25
316      85.2     28.1          Rasuwa  19:15        4.7  2015/04/25
317     84.71    28.16          Gorkha  18:29        5.5  2015/04/25
318     86.05    27.82         Dolakha  18:24        4.5  2015/04/25
319      85.4       28         Nuwakot  18:02        4.9  2015/04/25
320     85.28    28.14          Rasuwa  17:26        4.1  2015/04/25
321     85.50    27.91  Sindhupalchowk  16:50        4.6  2015/04/25
322     85.85    27.86  Sindhupalchowk  16:25        4.0  2015/04/25
323      85.8    27.87  Sindhupalchowk  16:08        4.1  2015/04/25
324     85.16    28.29          Rasuwa  15:28        4.6  2015/04/25
325      85.6       28  Sindhupalchowk  15:15        5.5  2015/04/25
326     85.33    27.91         Nuwakot  14:48        5.3  2015/04/25
327     85.63    27.65           Kavre  14:40        5.7  2015/04/25
328     84.95    28.18          Gorkha  14:14        5.2  2015/04/25
329     84.86     27.9         Dhading  14:05        5.1  2015/04/25
..        ...      ...             ...    ...        ...         ...
414      85.6    27.89  Sindhupalchowk  18:56        5.0  2015/04/26
415     85.91    27.77  Sindhupalchowk  15:27        4.5  2015/04/26
416     85.81    27.97  Sindhupalchowk  14:31        4.5  2015/04/26
417        86    27.79  Sindhupalchowk  14:25        4.8  2015/04/26
418     86.05    27.94           Tibet  13:22        5.0  2015/04/26
419     85.94    27.75  Sindhupalchowk  13:12        5.3  2015/04/26
420     86.05    27.84         Dolakha  12:54        6.9  2015/04/26
421     85.02    28.26          Gorkha  10:43        4.8  2015/04/26
422      85.5    28.04  Sindhupalchowk  10:35        4.5  2015/04/26
423     85.63    27.64           Kavre  09:06        5.0  2015/04/26
424     85.16     27.8         Nuwakot  08:55        5.1  2015/04/26
425     84.73    28.32          Gorkha  08:43        4.5  2015/04/26
426     85.12    27.84         Nuwakot  06:16        4.0  2015/04/26
427     85.28    27.67       Kathmandu  06:00        4.0  2015/04/26
428     85.34    28.05          Rasuwa  05:32        4.0  2015/04/26
429     86.07    27.67         Dolakha  05:26        4.5  2015/04/26
430     85.25    27.69       Kathmandu  05:25        4.0  2015/04/26
431     85.02    27.99         Nuwakot  05:01        5.5  2015/04/26
432      85.8    27.82  Sindhupalchowk  02:52        4.8  2015/04/26
433     84.99    27.98          Gorkha  02:49        4.0  2015/04/26
434     85.96     27.6  Sindhupalchowk  02:17        4.8  2015/04/26
435     84.82    28.24          Gorkha  02:14        4.3  2015/04/26
436     85.83    28.25          Rasuwa  02:08        4.0  2015/04/26
437     85.56    27.93  Sindhupalchowk  01:56        4.4  2015/04/26
438     84.71    28.14          Gorkha  01:52        4.2  2015/04/26
439     85.35    28.05          Rasuwa  01:49        4.0  2015/04/26
440     85.56    27.93  Sindhupalchowk  01:29        4.1  2015/04/26
441     85.43    27.71       Kathmandu  00:43        4.6  2015/04/26
442     85.55    27.94  Sindhupalchowk  00:14        4.1  2015/04/26
443     85.98    27.78  Sindhupalchowk  23:46        4.1  2015/04/25

[114 rows x 6 columns]

In [10]:
data[data.Date.between('2015/04/25','2015/04/31') & data.Epicentre.str.contains(r'Sindhu')]

    Longitude Latitude       Epicentre   Time  Magnitude        Date
303     85.53     27.9  Sindhupalchowk  23:24        4.0  2015/04/25
304     85.83    27.77  Sindhupalchowk  23:19        4.1  2015/04/25
306     85.64    27.92  Sindhupalchowk  22:12        5.3  2015/04/25
307     85.56    27.95  Sindhupalchowk  21:02        4.2  2015/04/25
309      85.9    27.73  Sindhupalchowk  20:25        5.0  2015/04/25
312      85.9    27.73  Sindhupalchowk  19:55        4.7  2015/04/25
321     85.50    27.91  Sindhupalchowk  16:50        4.6  2015/04/25
322     85.85    27.86  Sindhupalchowk  16:25        4.0  2015/04/25
323      85.8    27.87  Sindhupalchowk  16:08        4.1  2015/04/25
325      85.6       28  Sindhupalchowk  15:15        5.5  2015/04/25
330     85.84    27.78  Sindhupalchowk  14:02        5.2  2015/04/25
370     85.87    27.92  Sindhupalchowk  23:19        4.3  2015/04/30
375     85.52    27.95  Sindhupalchowk  17:12        4.5  2015/04/29
379     85.63    27.93  Sindhupalchowk  04:49        4.0  2015/04/29
381     85.88    27.88  Sindhupalchowk  17:03        4.2  2015/04/28
383     85.83    27.83  Sindhupalchowk  15:10        4.0  2015/04/28
384     85.55    27.96  Sindhupalchowk  12:08        4.0  2015/04/28
385     85.80    27.76  Sindhupalchowk  08:40        4.0  2015/04/28
387     85.49    28.10  Sindhupalchowk  05:05        4.9  2015/04/28
389     85.76    27.89  Sindhupalchowk  03:12        4.2  2015/04/28
390     85.51    27.92  Sindhupalchowk  02:59        4.2  2015/04/28
393     85.89    27.82  Sindhupalchowk  22:39        4.2  2015/04/27
396     85.86    27.93  Sindhupalchowk  10:05        4.0  2015/04/27
400     85.76    27.82  Sindhupalchowk  04:27        4.4  2015/04/27
405     85.55    27.91  Sindhupalchowk  23:51        4.2  2015/04/26
407     85.87    27.95  Sindhupalchowk  22:10        5.3  2015/04/26
411     85.97    27.72  Sindhupalchowk  20:29        4.5  2015/04/26
414      85.6    27.89  Sindhupalchowk  18:56        5.0  2015/04/26
415     85.91    27.77  Sindhupalchowk  15:27        4.5  2015/04/26
416     85.81    27.97  Sindhupalchowk  14:31        4.5  2015/04/26
417        86    27.79  Sindhupalchowk  14:25        4.8  2015/04/26
419     85.94    27.75  Sindhupalchowk  13:12        5.3  2015/04/26
422      85.5    28.04  Sindhupalchowk  10:35        4.5  2015/04/26
432      85.8    27.82  Sindhupalchowk  02:52        4.8  2015/04/26
434     85.96     27.6  Sindhupalchowk  02:17        4.8  2015/04/26
437     85.56    27.93  Sindhupalchowk  01:56        4.4  2015/04/26
440     85.56    27.93  Sindhupalchowk  01:29        4.1  2015/04/26
442     85.55    27.94  Sindhupalchowk  00:14        4.1  2015/04/26
443     85.98    27.78  Sindhupalchowk  23:46        4.1  2015/04/25

In [9]:
data[data.Date.str.contains(r'/04/') & data.Epicentre.str.contains(r'Sindhu')]

    Longitude Latitude       Epicentre   Time  Magnitude        Date
303     85.53     27.9  Sindhupalchowk  23:24        4.0  2015/04/25
304     85.83    27.77  Sindhupalchowk  23:19        4.1  2015/04/25
306     85.64    27.92  Sindhupalchowk  22:12        5.3  2015/04/25
307     85.56    27.95  Sindhupalchowk  21:02        4.2  2015/04/25
309      85.9    27.73  Sindhupalchowk  20:25        5.0  2015/04/25
312      85.9    27.73  Sindhupalchowk  19:55        4.7  2015/04/25
321     85.50    27.91  Sindhupalchowk  16:50        4.6  2015/04/25
322     85.85    27.86  Sindhupalchowk  16:25        4.0  2015/04/25
323      85.8    27.87  Sindhupalchowk  16:08        4.1  2015/04/25
325      85.6       28  Sindhupalchowk  15:15        5.5  2015/04/25
330     85.84    27.78  Sindhupalchowk  14:02        5.2  2015/04/25
370     85.87    27.92  Sindhupalchowk  23:19        4.3  2015/04/30
375     85.52    27.95  Sindhupalchowk  17:12        4.5  2015/04/29
379     85.63    27.93  Sindhupalchowk  04:49        4.0  2015/04/29
381     85.88    27.88  Sindhupalchowk  17:03        4.2  2015/04/28
383     85.83    27.83  Sindhupalchowk  15:10        4.0  2015/04/28
384     85.55    27.96  Sindhupalchowk  12:08        4.0  2015/04/28
385     85.80    27.76  Sindhupalchowk  08:40        4.0  2015/04/28
387     85.49    28.10  Sindhupalchowk  05:05        4.9  2015/04/28
389     85.76    27.89  Sindhupalchowk  03:12        4.2  2015/04/28
390     85.51    27.92  Sindhupalchowk  02:59        4.2  2015/04/28
393     85.89    27.82  Sindhupalchowk  22:39        4.2  2015/04/27
396     85.86    27.93  Sindhupalchowk  10:05        4.0  2015/04/27
400     85.76    27.82  Sindhupalchowk  04:27        4.4  2015/04/27
405     85.55    27.91  Sindhupalchowk  23:51        4.2  2015/04/26
407     85.87    27.95  Sindhupalchowk  22:10        5.3  2015/04/26
411     85.97    27.72  Sindhupalchowk  20:29        4.5  2015/04/26
414      85.6    27.89  Sindhupalchowk  18:56        5.0  2015/04/26
415     85.91    27.77  Sindhupalchowk  15:27        4.5  2015/04/26
416     85.81    27.97  Sindhupalchowk  14:31        4.5  2015/04/26
417        86    27.79  Sindhupalchowk  14:25        4.8  2015/04/26
419     85.94    27.75  Sindhupalchowk  13:12        5.3  2015/04/26
422      85.5    28.04  Sindhupalchowk  10:35        4.5  2015/04/26
432      85.8    27.82  Sindhupalchowk  02:52        4.8  2015/04/26
434     85.96     27.6  Sindhupalchowk  02:17        4.8  2015/04/26
437     85.56    27.93  Sindhupalchowk  01:56        4.4  2015/04/26
440     85.56    27.93  Sindhupalchowk  01:29        4.1  2015/04/26
442     85.55    27.94  Sindhupalchowk  00:14        4.1  2015/04/26
443     85.98    27.78  Sindhupalchowk  23:46        4.1  2015/04/25