# SQLite

SQLite is a C-language library that implements a SQL <u>(Structured Query Language)</u>
 database engine that is relatively quick, serverless and self-contained, high-reliable. SQLite is the most commonly used database engine in the test environment. <a href="#top"></a>
 
 https://www.sqlite.org  |   https://sqlitebrowser.org/   |   https://www.sqliteviewer.org/database/   |   https://sqliteonline.com/   |   https://www.w3schools.com/sql/default.asp | https://www.sqlitetutorial.net/

In [1]:
import sqlite3 as s3

In [2]:
s3.version#dir(s3)

'2.6.0'

<b>Basic Database related Actions:</b> 

<ul>
    <li>Create/Connect <u>Databases</u> (.db type) -- A Database can contain multiple Tables.</li>
    <li>Deploy CRUD (Create, Retrieve, Update, Delete) operations with <u>Tables (Structured Data in Row and Column format)</u> from Database</li>
    <li>Share information etc with <u>Python</u> Application</li>
</ul>

<img src="table_str.png" />

### Create Tables using Connection established

In [3]:
# Creating a SQLite Database! Connection object ==> (:memory:) in memory object can also be created


conn = s3.connect('userOrdersNew.db')  #conn is Connection object required for other activity!

In [4]:
conn

In [5]:
dir(conn)

['DataError',
 'DatabaseError',
 'Error',
 'IntegrityError',
 'InterfaceError',
 'InternalError',
 'NotSupportedError',
 'OperationalError',
 'ProgrammingError',
 'Warning',
 '__call__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__enter__',
 '__eq__',
 '__exit__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'backup',
 'close',
 'commit',
 'create_aggregate',
 'create_collation',
 'create_function',
 'cursor',
 'enable_load_extension',
 'execute',
 'executemany',
 'executescript',
 'in_transaction',
 'interrupt',
 'isolation_level',
 'iterdump',
 'load_extension',
 'rollback',
 'row_factory',
 'set_authorizer',
 'set_progress_handler',
 'set_trace_callback',
 'text_factory',
 'total_changes']

In [6]:
# Creating Cursor: cursor object is required to execute SQL

cur = conn.cursor()

In [7]:
cur

In [10]:
#Defining SQL to create Tables! Data Types for Column https://www.sqlite.org/datatype3.html

# CREATE TABLE TableName;

userTable="""CREATE TABLE IF NOT EXISTS users(
   userid INT PRIMARY KEY,
   fname TEXT,
   lname TEXT,
   gender TEXT);
"""

orderTable="""CREATE TABLE IF NOT EXISTS orders(
   orderid INT PRIMARY KEY,
   date TEXT,
   userid TEXT,
   total TEXT);
"""

In [11]:
#execute(SQL QUERY): executes SQL query! 

cur.execute(userTable) #execute SQL
conn.commit() #commit executed SQL to the database~! SAVE

cur.execute(orderTable)
conn.commit()

#### Try loading records from Tables created

In [8]:
cur.execute("SELECT * FROM orders").fetchmany(3)

[(1, '2020-01-01', '00025', '178'),
 (2, '2020-01-03', '00025', '39'),
 (3, '2020-01-07', '00016', '153')]

In [9]:
cur.execute("SELECT * FROM users").fetchmany(10)

[(1, 'Nik', 'Piepenbreier', 'MALE'),
 (2, 'Lois', 'Lane', 'Female'),
 (5, 'Stephanie', 'Stewart', 'female'),
 (6, 'Sincere', 'Sherman', 'female'),
 (7, 'Sidney', 'Horn', 'male'),
 (8, 'Litzy', 'Yates', 'female'),
 (9, 'Jaxon', 'Mills', 'male'),
 (10, 'Paul', 'Richard', 'male'),
 (11, 'Kamari', 'Holden', 'female'),
 (12, 'Gaige', 'Summers', 'female')]

In [10]:
cur.execute("SELECT * FROM users").fetchall()

[(1, 'Nik', 'Piepenbreier', 'MALE'),
 (2, 'Lois', 'Lane', 'Female'),
 (5, 'Stephanie', 'Stewart', 'female'),
 (6, 'Sincere', 'Sherman', 'female'),
 (7, 'Sidney', 'Horn', 'male'),
 (8, 'Litzy', 'Yates', 'female'),
 (9, 'Jaxon', 'Mills', 'male'),
 (10, 'Paul', 'Richard', 'male'),
 (11, 'Kamari', 'Holden', 'female'),
 (12, 'Gaige', 'Summers', 'female'),
 (13, 'Andrea', 'Snow', 'female'),
 (14, 'Angelica', 'Barnes', 'female'),
 (15, 'Leah', 'Pitts', 'female'),
 (16, 'Dillan', 'Olsen', 'male'),
 (17, 'Joe', 'Walsh', 'male'),
 (18, 'Reagan', 'Cooper', 'male'),
 (19, 'Aubree', 'Hogan', 'female'),
 (20, 'Avery', 'Floyd', 'male'),
 (21, 'Elianna', 'Simmons', 'female'),
 (22, 'Rodney', 'Stout', 'male'),
 (23, 'Elaine', 'Mcintosh', 'female'),
 (24, 'Myla', 'Mckenzie', 'female'),
 (25, 'Alijah', 'Horn', 'female'),
 (26, 'Rohan', 'Peterson', 'male'),
 (27, 'Irene', 'Walters', 'female'),
 (28, 'Lilia', 'Sellers', 'female'),
 (29, 'Perla', 'Jefferson', 'female'),
 (30, 'Ashley', 'Klein', 'female'),
 (32, 'Anelka', 'S.C', 'M'),
 (288, 'Lois', 'Lane', 'F')]

In [11]:
cur.execute("SELECT * FROM users").fetchone() 
#conn.commit()

#cur.execute("SELECT * FROM orders").fetchone()

#OR
'''
cur.execute("SELECT * FROM users")
record = cur.fetchone() #fetch 1 Row!
print(record)
'''

'\ncur.execute("SELECT * FROM users")\nrecord = cur.fetchone() #fetch 1 Row!\nprint(record)\n'

### Insert/Load data into/from Table: 
execute(), executemany(), ----------, 
fetchone(), fetchmany(), fetchmany(5), fetchall()

In [17]:
row1="""INSERT INTO users(userid, fname, lname, gender) 
        VALUES (32, 'Anelka', 'S.C', 'M')
   """
#{'key1':'value1','key2':'value2',''key3':'value3''}

cur.execute(row1)
conn.commit()

In [19]:
cur.execute("SELECT * FROM users").fetchone()

(1, 'Nik', 'Piepenbreier', 'MALE')

In [20]:
row2 = ('00002', 'Lois', 'Lane', 'Female')
#insert
#cur.execute("INSERT INTO users VALUES", row2)
cur.execute("INSERT INTO users VALUES(288, 'Lois', 'Lane', 'F')")
conn.commit()

In [21]:
#load rows
cur.execute("SELECT * FROM users").fetchmany()

[(1, 'Nik', 'Piepenbreier', 'MALE')]

In [22]:
cur.execute("SELECT * FROM users").fetchmany(2)

[(1, 'Nik', 'Piepenbreier', 'MALE'), (2, 'Lois', 'Lane', 'Female')]

In [12]:
cur.execute("SELECT * FROM users").fetchall()

[(1, 'Nik', 'Piepenbreier', 'MALE'),
 (2, 'Lois', 'Lane', 'Female'),
 (5, 'Stephanie', 'Stewart', 'female'),
 (6, 'Sincere', 'Sherman', 'female'),
 (7, 'Sidney', 'Horn', 'male'),
 (8, 'Litzy', 'Yates', 'female'),
 (9, 'Jaxon', 'Mills', 'male'),
 (10, 'Paul', 'Richard', 'male'),
 (11, 'Kamari', 'Holden', 'female'),
 (12, 'Gaige', 'Summers', 'female'),
 (13, 'Andrea', 'Snow', 'female'),
 (14, 'Angelica', 'Barnes', 'female'),
 (15, 'Leah', 'Pitts', 'female'),
 (16, 'Dillan', 'Olsen', 'male'),
 (17, 'Joe', 'Walsh', 'male'),
 (18, 'Reagan', 'Cooper', 'male'),
 (19, 'Aubree', 'Hogan', 'female'),
 (20, 'Avery', 'Floyd', 'male'),
 (21, 'Elianna', 'Simmons', 'female'),
 (22, 'Rodney', 'Stout', 'male'),
 (23, 'Elaine', 'Mcintosh', 'female'),
 (24, 'Myla', 'Mckenzie', 'female'),
 (25, 'Alijah', 'Horn', 'female'),
 (26, 'Rohan', 'Peterson', 'male'),
 (27, 'Irene', 'Walters', 'female'),
 (28, 'Lilia', 'Sellers', 'female'),
 (29, 'Perla', 'Jefferson', 'female'),
 (30, 'Ashley', 'Klein', 'female'),
 (32, 'Anelka', 'S.C', 'M'),
 (288, 'Lois', 'Lane', 'F')]

In [25]:
#cur.execute("SELECT * FROM orders").fetchall()

In [ ]:
#Insert multiple rows using executemany()

userData = [('00005', 'Stephanie', 'Stewart', 'female'), ('00006', 'Sincere', 'Sherman', 'female'),
            ('00007', 'Sidney', 'Horn', 'male'), ('00008', 'Litzy', 'Yates', 'female'), ('00009', 'Jaxon', 'Mills', 'male'),
            ('00010', 'Paul', 'Richard', 'male'), ('00011', 'Kamari', 'Holden', 'female'), 
            ('00012', 'Gaige', 'Summers', 'female'), ('00013', 'Andrea', 'Snow', 'female'), 
            ('00014', 'Angelica', 'Barnes', 'female'), ('00015', 'Leah', 'Pitts', 'female'), 
            ('00016', 'Dillan', 'Olsen', 'male'), ('00017', 'Joe', 'Walsh', 'male'), ('00018', 'Reagan', 'Cooper', 'male'),
            ('00019', 'Aubree', 'Hogan', 'female'), ('00020', 'Avery', 'Floyd', 'male'), 
            ('00021', 'Elianna', 'Simmons', 'female'), ('00022', 'Rodney', 'Stout', 'male'), 
            ('00023', 'Elaine', 'Mcintosh', 'female'), ('00024', 'Myla', 'Mckenzie', 'female'), 
            ('00025', 'Alijah', 'Horn', 'female'), ('00026', 'Rohan', 'Peterson', 'male'), 
            ('00027', 'Irene', 'Walters', 'female'), ('00028', 'Lilia', 'Sellers', 'female'), 
            ('00029', 'Perla', 'Jefferson', 'female'), ('00030', 'Ashley', 'Klein', 'female')]
orderData = [('00001', '2020-01-01', '00025', '178'), ('00002', '2020-01-03', '00025', '39'), 
             ('00003', '2020-01-07', '00016', '153'), ('00004', '2020-01-10', '00015', '110'),
             ('00005', '2020-01-11', '00024', '219'), ('00006', '2020-01-12', '00029', '37'),
             ('00007', '2020-01-14', '00028', '227'), ('00008', '2020-01-18', '00010', '232'), 
             ('00009', '2020-01-22', '00016', '236'), ('00010', '2020-01-26', '00017', '116'), 
             ('00011', '2020-01-28', '00028', '221'), ('00012', '2020-01-31', '00021', '238'), 
             ('00013', '2020-02-02', '00015', '177'), ('00014', '2020-02-05', '00025', '76'),('00015', '2020-02-08', '00022', '245'), ('00016', '2020-02-12', '00008', '180'), 
             ('00017', '2020-02-14', '00020', '190'), ('00018', '2020-02-18', '00030', '166'),('00019', '2020-02-22', '00002', '168'), ('00020', '2020-02-26', '00021', '174'), 
             ('00021', '2020-02-29', '00017', '126'), ('00022', '2020-03-02', '00019', '211'),('00023', '2020-03-05', '00030', '144'), ('00024', '2020-03-09', '00012', '112'), 
             ('00025', '2020-03-10', '00006', '45'), ('00026', '2020-03-11', '00004', '200'), 
             ('00027', '2020-03-14', '00015', '226'), ('00028', '2020-03-17', '00030', '189'), 
             ('00029', '2020-03-20', '00004', '152'), ('00030', '2020-03-22', '00026', '239'), 
             ('00031', '2020-03-23', '00012', '135'), ('00032', '2020-03-24', '00013', '211'),
             ('00033', '2020-03-27', '00030', '226'), ('00034', '2020-03-28', '00007', '173'), 
             ('00035', '2020-03-30', '00010', '144'), ('00036', '2020-04-01', '00017', '185'), 
             ('00037', '2020-04-03', '00009', '95'), ('00038', '2020-04-06', '00009', '138'), 
             ('00039', '2020-04-10', '00025', '223'), ('00040', '2020-04-12', '00019', '118'), ('00041', '2020-04-15', '00024', '132'), ('00042', '2020-04-18', '00008', '238'), ('00043', '2020-04-21', '00003', '50'), ('00044', '2020-04-25', '00019', '98'), ('00045', '2020-04-26', '00017', '167'), ('00046', '2020-04-28', '00009', '215'), ('00047', '2020-05-01', '00014', '142'), ('00048', '2020-05-05', '00022', '173'), ('00049', '2020-05-06', '00015', '80'), ('00050', '2020-05-07', '00017', '37'), ('00051', '2020-05-08', '00002', '36'), ('00052', '2020-05-10', '00022', '65'), ('00053', '2020-05-14', '00019', '110'), ('00054', '2020-05-18', '00017', '36'), ('00055', '2020-05-21', '00008', '163'), ('00056', '2020-05-24', '00024', '91'), ('00057', '2020-05-26', '00028', '154'), ('00058', '2020-05-30', '00022', '130'), ('00059', '2020-05-31', '00017', '119'), ('00060', '2020-06-01', '00024', '137'), ('00061', '2020-06-03', '00017', '206'), ('00062', '2020-06-04', '00013', '100'), ('00063', '2020-06-05', '00021', '187'), ('00064', '2020-06-09', '00025', '170'), ('00065', '2020-06-11', '00011', '149'), ('00066', '2020-06-12', '00007', '195'), ('00067', '2020-06-14', '00015', '30'), ('00068', '2020-06-16', '00002', '246'), ('00069', '2020-06-20', '00028', '163'), ('00070', '2020-06-22', '00005', '184'), ('00071', '2020-06-23', '00022', '68'), ('00072', '2020-06-27', '00013', '92'), ('00073', '2020-06-30', '00022', '149'), ('00074', '2020-07-04', '00002', '65'), ('00075', '2020-07-05', '00017', '88'), ('00076', '2020-07-09', '00007', '156'), ('00077', '2020-07-13', '00010', '26'), ('00078', '2020-07-16', '00008', '55'), ('00079', '2020-07-20', '00019', '81'), ('00080', '2020-07-22', '00011', '78'), ('00081', '2020-07-23', '00026', '166'), ('00082', '2020-07-27', '00014', '65'), ('00083', '2020-07-30', '00021', '205'), ('00084', '2020-08-01', '00026', '140'), ('00085', '2020-08-05', '00006', '236'), ('00086', '2020-08-06', '00021', '208'), ('00087', '2020-08-07', '00021', '169'), ('00088', '2020-08-08', '00004', '157'), ('00089', '2020-08-11', '00017', '71'), ('00090', '2020-08-13', '00025', '89'), ('00091', '2020-08-16', '00014', '249'), ('00092', '2020-08-18', '00012', '59'), ('00093', '2020-08-19', '00013', '121'), ('00094', '2020-08-20', '00025', '179'), ('00095', '2020-08-22', '00017', '208'), ('00096', '2020-08-26', '00024', '217'), ('00097', '2020-08-28', '00004', '206'), ('00098', '2020-08-30', '00017', '114'), ('00099', '2020-08-31', '00017', '169'), 
             ('00100', '2020-09-02', '00022', '226')]

cur.executemany("INSERT INTO users VALUES(?, ?, ?, ?)", userData)
cur.executemany("INSERT INTO orders VALUES(?, ?, ?, ?)", orderData)
conn.commit()

In [35]:
cur.execute("SELECT COUNT(*) FROM users").fetchone()# #100

(30,)

In [13]:
#load/Retrieve multiple rows from Table
userrecords = cur.execute("SELECT * FROM users").fetchmany(5) 
print(userrecords)

cur.execute("SELECT * FROM orders").fetchmany(10)

[(1, 'Nik', 'Piepenbreier', 'MALE'), (2, 'Lois', 'Lane', 'Female'), (5, 'Stephanie', 'Stewart', 'female'), (6, 'Sincere', 'Sherman', 'female'), (7, 'Sidney', 'Horn', 'male')]

[(1, '2020-01-01', '00025', '178'),
 (2, '2020-01-03', '00025', '39'),
 (3, '2020-01-07', '00016', '153'),
 (4, '2020-01-10', '00015', '110'),
 (5, '2020-01-11', '00024', '219'),
 (6, '2020-01-12', '00029', '37'),
 (7, '2020-01-14', '00028', '227'),
 (8, '2020-01-18', '00010', '232'),
 (9, '2020-01-22', '00016', '236'),
 (10, '2020-01-26', '00017', '116')]

In [14]:
#Retrieve with condition!

userrecords = cur.execute("SELECT * FROM users WHERE gender='MALE' or gender='M'").fetchmany(10)
#userrecords = cur.execute("SELECT fname,lname,gender FROM users WHERE gender='female'").fetchall()# WHERE gender='male'").fetchmany(10) 
#userrecords = cur.execute("SELECT fname,lname,gender FROM users WHERE gender LIKE 'fe%'").fetchall()# WHERE gender='male'").fetchmany(10) 

print(userrecords)

[(1, 'Nik', 'Piepenbreier', 'MALE'), (32, 'Anelka', 'S.C', 'M')]

In [15]:
cur.execute("SELECT * FROM orders WHERE date LIKE '2020-01-2%'").fetchmany(5) # LIKE

[(9, '2020-01-22', '00016', '236'),
 (10, '2020-01-26', '00017', '116'),
 (11, '2020-01-28', '00028', '221')]

In [16]:
cur.execute("SELECT total,date FROM orders WHERE total LIKE '%5'").fetchmany(10) # selected columns

[('245', '2020-02-08'),
 ('45', '2020-03-10'),
 ('135', '2020-03-23'),
 ('185', '2020-04-01'),
 ('95', '2020-04-03'),
 ('215', '2020-04-28'),
 ('65', '2020-05-10'),
 ('195', '2020-06-12'),
 ('65', '2020-07-04'),
 ('55', '2020-07-16')]

In [18]:
#unique: distinct()
#print(cur.execute("SELECT lname FROM users").fetchall())
#print(cur.execute("SELECT distinct(lname) FROM users").fetchall())

print(cur.execute("SELECT distinct(fname) FROM users WHERE lname='Horn'").fetchall()) #=, ==

[('Sidney',), ('Alijah',)]

In [20]:
#count(), distinct()
print(cur.execute("SELECT COUNT(lname) FROM users").fetchall())
print(cur.execute("SELECT count(distinct(lname)) FROM users").fetchall())
print(cur.execute("SELECT COUNT(lname) FROM users WHERE gender='male'").fetchall())
print(cur.execute("SELECT COUNT(lname) FROM users WHERE gender='female'").fetchall())
print(cur.execute("SELECT count(total) FROM orders").fetchall())
print(cur.execute("SELECT count(distinct(total)) FROM orders").fetchall())
print(cur.execute("SELECT SUM(distinct(total)) FROM orders").fetchall())
print(cur.execute("SELECT SUM(total) FROM orders").fetchall())
print(cur.execute("SELECT AVG(total) FROM orders").fetchall())

[(30,)]
[(28,)]
[(9,)]
[(17,)]
[(100,)]
[(82,)]
[(11961,)]
[(14789,)]
[(147.89,)]

### UPDATE

In [23]:
result = cur.execute("SELECT * FROM users WHERE fname='Lois' AND gender='F'").fetchall() 
#(288, 'Lois', 'Lane', 'F')]
print(result)

[(288, 'Lois', 'Lane', 'F')]

In [24]:
updateQuery="""UPDATE users SET fname='Louis',gender='Female' WHERE fname='Lois' AND gender='F'"""
cur.execute(updateQuery) #Update
conn.commit()

In [26]:
result = cur.execute("SELECT * from users WHERE fname='Lois' AND gender='F'").fetchall() #check for Update Happen!
print(result)

result = cur.execute("SELECT * from users WHERE userid=288").fetchall() #check for Update Happen!
print(result)

[]
[(288, 'Louis', 'Lane', 'Female')]

## DELETE

In [27]:
#Insert Temporary Row 

rowData = ('10002', 'TEST', 'Record', 'NULL')
#insert
cur.execute("INSERT INTO users VALUES(?, ?, ?, ?);", rowData)
conn.commit()

In [28]:
rowData = cur.execute("SELECT * from users WHERE gender='NULL'").fetchall() #check for Update Happen!
print(rowData)

[(10002, 'TEST', 'Record', 'NULL')]

In [29]:
#Deleting Temporary Row
cur.execute("DELETE FROM users WHERE userid='10002'")
conn.commit()

In [30]:
rowData1 = cur.execute("SELECT * from users WHERE gender='NULL'").fetchall() #check for Update Happen!
print(rowData1)

[]

In [31]:
rowData1 = cur.execute("SELECT * from users WHERE userid='10002'").fetchall() #check for Update Happen!
print(rowData1)

[]

### JOIN - mutiple Table!

In [26]:
#JOIN: zip() : combine -> related
cur.execute("""SELECT orders.date,orders.total, users.fname, users.lname
    FROM orders
    INNER JOIN users 
    ON users.userid=orders.userid""")

cur.fetchmany(101)

[('2020-01-01', '178', 'Alijah', 'Horn'),
 ('2020-01-03', '39', 'Alijah', 'Horn'),
 ('2020-01-07', '153', 'Dillan', 'Olsen'),
 ('2020-01-10', '110', 'Leah', 'Pitts'),
 ('2020-01-11', '219', 'Myla', 'Mckenzie'),
 ('2020-01-12', '37', 'Perla', 'Jefferson'),
 ('2020-01-14', '227', 'Lilia', 'Sellers'),
 ('2020-01-18', '232', 'Paul', 'Richard'),
 ('2020-01-22', '236', 'Dillan', 'Olsen'),
 ('2020-01-26', '116', 'Joe', 'Walsh'),
 ('2020-01-28', '221', 'Lilia', 'Sellers'),
 ('2020-01-31', '238', 'Elianna', 'Simmons'),
 ('2020-02-02', '177', 'Leah', 'Pitts'),
 ('2020-02-05', '76', 'Alijah', 'Horn'),
 ('2020-02-08', '245', 'Rodney', 'Stout'),
 ('2020-02-12', '180', 'Litzy', 'Yates'),
 ('2020-02-14', '190', 'Avery', 'Floyd'),
 ('2020-02-18', '166', 'Ashley', 'Klein'),
 ('2020-02-22', '168', 'Lois', 'Lane'),
 ('2020-02-26', '174', 'Elianna', 'Simmons'),
 ('2020-02-29', '126', 'Joe', 'Walsh'),
 ('2020-03-02', '211', 'Aubree', 'Hogan'),
 ('2020-03-05', '144', 'Ashley', 'Klein'),
 ('2020-03-09', '112', 'Gaige', 'Summers'),
 ('2020-03-10', '45', 'Sincere', 'Sherman'),
 ('2020-03-14', '226', 'Leah', 'Pitts'),
 ('2020-03-17', '189', 'Ashley', 'Klein'),
 ('2020-03-22', '239', 'Rohan', 'Peterson'),
 ('2020-03-23', '135', 'Gaige', 'Summers'),
 ('2020-03-24', '211', 'Andrea', 'Snow'),
 ('2020-03-27', '226', 'Ashley', 'Klein'),
 ('2020-03-28', '173', 'Sidney', 'Horn'),
 ('2020-03-30', '144', 'Paul', 'Richard'),
 ('2020-04-01', '185', 'Joe', 'Walsh'),
 ('2020-04-03', '95', 'Jaxon', 'Mills'),
 ('2020-04-06', '138', 'Jaxon', 'Mills'),
 ('2020-04-10', '223', 'Alijah', 'Horn'),
 ('2020-04-12', '118', 'Aubree', 'Hogan'),
 ('2020-04-15', '132', 'Myla', 'Mckenzie'),
 ('2020-04-18', '238', 'Litzy', 'Yates'),
 ('2020-04-25', '98', 'Aubree', 'Hogan'),
 ('2020-04-26', '167', 'Joe', 'Walsh'),
 ('2020-04-28', '215', 'Jaxon', 'Mills'),
 ('2020-05-01', '142', 'Angelica', 'Barnes'),
 ('2020-05-05', '173', 'Rodney', 'Stout'),
 ('2020-05-06', '80', 'Leah', 'Pitts'),
 ('2020-05-07', '37', 'Joe', 'Walsh'),
 ('2020-05-08', '36', 'Lois', 'Lane'),
 ('2020-05-10', '65', 'Rodney', 'Stout'),
 ('2020-05-14', '110', 'Aubree', 'Hogan'),
 ('2020-05-18', '36', 'Joe', 'Walsh'),
 ('2020-05-21', '163', 'Litzy', 'Yates'),
 ('2020-05-24', '91', 'Myla', 'Mckenzie'),
 ('2020-05-26', '154', 'Lilia', 'Sellers'),
 ('2020-05-30', '130', 'Rodney', 'Stout'),
 ('2020-05-31', '119', 'Joe', 'Walsh'),
 ('2020-06-01', '137', 'Myla', 'Mckenzie'),
 ('2020-06-03', '206', 'Joe', 'Walsh'),
 ('2020-06-04', '100', 'Andrea', 'Snow'),
 ('2020-06-05', '187', 'Elianna', 'Simmons'),
 ('2020-06-09', '170', 'Alijah', 'Horn'),
 ('2020-06-11', '149', 'Kamari', 'Holden'),
 ('2020-06-12', '195', 'Sidney', 'Horn'),
 ('2020-06-14', '30', 'Leah', 'Pitts'),
 ('2020-06-16', '246', 'Lois', 'Lane'),
 ('2020-06-20', '163', 'Lilia', 'Sellers'),
 ('2020-06-22', '184', 'Stephanie', 'Stewart'),
 ('2020-06-23', '68', 'Rodney', 'Stout'),
 ('2020-06-27', '92', 'Andrea', 'Snow'),
 ('2020-06-30', '149', 'Rodney', 'Stout'),
 ('2020-07-04', '65', 'Lois', 'Lane'),
 ('2020-07-05', '88', 'Joe', 'Walsh'),
 ('2020-07-09', '156', 'Sidney', 'Horn'),
 ('2020-07-13', '26', 'Paul', 'Richard'),
 ('2020-07-16', '55', 'Litzy', 'Yates'),
 ('2020-07-20', '81', 'Aubree', 'Hogan'),
 ('2020-07-22', '78', 'Kamari', 'Holden'),
 ('2020-07-23', '166', 'Rohan', 'Peterson'),
 ('2020-07-27', '65', 'Angelica', 'Barnes'),
 ('2020-07-30', '205', 'Elianna', 'Simmons'),
 ('2020-08-01', '140', 'Rohan', 'Peterson'),
 ('2020-08-05', '236', 'Sincere', 'Sherman'),
 ('2020-08-06', '208', 'Elianna', 'Simmons'),
 ('2020-08-07', '169', 'Elianna', 'Simmons'),
 ('2020-08-11', '71', 'Joe', 'Walsh'),
 ('2020-08-13', '89', 'Alijah', 'Horn'),
 ('2020-08-16', '249', 'Angelica', 'Barnes'),
 ('2020-08-18', '59', 'Gaige', 'Summers'),
 ('2020-08-19', '121', 'Andrea', 'Snow'),
 ('2020-08-20', '179', 'Alijah', 'Horn'),
 ('2020-08-22', '208', 'Joe', 'Walsh'),
 ('2020-08-26', '217', 'Myla', 'Mckenzie'),
 ('2020-08-30', '114', 'Joe', 'Walsh'),
 ('2020-08-31', '169', 'Joe', 'Walsh'),
 ('2020-09-02', '226', 'Rodney', 'Stout')]

In [27]:
#Particular Person

cur.execute("""SELECT orders.date,orders.total, users.fname, users.lname 
    FROM orders
    INNER JOIN users 
    ON users.userid=orders.userid AND users.fname='Alijah'""")

cur.fetchmany(10) #count(orders.total)

[('2020-01-01', '178', 'Alijah', 'Horn'),
 ('2020-01-03', '39', 'Alijah', 'Horn'),
 ('2020-02-05', '76', 'Alijah', 'Horn'),
 ('2020-04-10', '223', 'Alijah', 'Horn'),
 ('2020-06-09', '170', 'Alijah', 'Horn'),
 ('2020-08-13', '89', 'Alijah', 'Horn'),
 ('2020-08-20', '179', 'Alijah', 'Horn')]

In [28]:
#Particular Person Order details: count(), sum(), avg()

output=cur.execute("""SELECT count(orders.total),sum(orders.total),avg(orders.total)
    FROM orders
    INNER JOIN users 
    ON users.userid=orders.userid AND users.fname='Alijah' AND users.lname='Horn'
    """).fetchall()

print(output)

[(7, 954, 136.28571428571428)]

### Export!

In [31]:
import csv
import json

In [32]:
data = cur.execute("SELECT * FROM users")
#order = cur.execute("SELECT * FROM orders")

In [33]:
with open('csvUser.csv','w',newline='') as fp:
    writer = csv.writer(fp)
    writer.writerow(['userid','fname','lname','gender'])
    writer.writerows(data)

'''    
with open('csvorder.csv','w',newline='') as fo:
    writer = csv.writer(fo)
    writer.writerow(['orderid','date','userid','total'])
    writer.writerows(order)
'''

"    \nwith open('csvorder.csv','w',newline='') as fo:\n    writer = csv.writer(fo)\n    writer.writerow(['orderid','date','userid','total'])\n    writer.writerows(order)\n"

In [34]:
final={}
with open('csvUser.csv') as cu:
    readCSV = csv.DictReader(cu)
    for row in readCSV:
        id=row['userid']
        final[id]=row
#print(final)
with open('jsonUser.json','w') as jf:
    jf.write(json.dumps(final,indent=2))

# Import from CSV

In [35]:
cur.execute("DROP TABLE users_from_csv")#DROP Table
conn.commit()

In [36]:
#create new table 'users_from_csv' using csv data!
cur.execute("CREATE TABLE users_from_csv (fname, gender);") # selected columns

In [37]:
with open('csvUser.csv','r') as fp: 
    readCSV = csv.DictReader(fp) 
    rows = [(row['fname'], row['gender']) for row in readCSV]

cur.executemany("INSERT INTO users_from_csv (fname, gender) VALUES (?, ?);", rows)
conn.commit()

In [38]:
cur.execute("SELECT * FROM users_from_csv").fetchall()

[('Nik', 'MALE'),
 ('Lois', 'Female'),
 ('Stephanie', 'female'),
 ('Sincere', 'female'),
 ('Sidney', 'male'),
 ('Litzy', 'female'),
 ('Jaxon', 'male'),
 ('Paul', 'male'),
 ('Kamari', 'female'),
 ('Gaige', 'female'),
 ('Andrea', 'female'),
 ('Angelica', 'female'),
 ('Leah', 'female'),
 ('Dillan', 'male'),
 ('Joe', 'male'),
 ('Reagan', 'male'),
 ('Aubree', 'female'),
 ('Avery', 'male'),
 ('Elianna', 'female'),
 ('Rodney', 'male'),
 ('Elaine', 'female'),
 ('Myla', 'female'),
 ('Alijah', 'female'),
 ('Rohan', 'male'),
 ('Irene', 'female'),
 ('Lilia', 'female'),
 ('Perla', 'female'),
 ('Ashley', 'female')]

# TASKS??? Drop Table/Database ??

#DROP users
#DROP orders

# PANDAS and SQL

In [32]:
import pandas as pd
df = pd.read_sql_query('SELECT * FROM users',conn) #Read Table to DataFrame (read/to)
df.head(15)

    userid      fname         lname  gender
0        1        Nik  Piepenbreier    MALE
1        2       Lois          Lane  Female
2        5  Stephanie       Stewart  female
3        6    Sincere       Sherman  female
4        7     Sidney          Horn    male
5        8      Litzy         Yates  female
6        9      Jaxon         Mills    male
7       10       Paul       Richard    male
8       11     Kamari        Holden  female
9       12      Gaige       Summers  female
10      13     Andrea          Snow  female
11      14   Angelica        Barnes  female
12      15       Leah         Pitts  female
13      16     Dillan         Olsen    male
14      17        Joe         Walsh    male

In [33]:
df.describe()

           userid
count   30.000000
mean    25.933333
std     50.248303
min      1.000000
25%     10.250000
50%     17.500000
75%     24.750000
max    288.000000

In [10]:
femaleData=df[df.gender.str.contains('female')]
femaleData

    userid      fname      lname  gender
2        5  Stephanie    Stewart  female
3        6    Sincere    Sherman  female
5        8      Litzy      Yates  female
8       11     Kamari     Holden  female
9       12      Gaige    Summers  female
10      13     Andrea       Snow  female
11      14   Angelica     Barnes  female
12      15       Leah      Pitts  female
16      19     Aubree      Hogan  female
18      21    Elianna    Simmons  female
20      23     Elaine   Mcintosh  female
21      24       Myla   Mckenzie  female
22      25     Alijah       Horn  female
24      27      Irene    Walters  female
25      28      Lilia    Sellers  female
26      29      Perla  Jefferson  female
27      30     Ashley      Klein  female

In [17]:
femaleData.to_sql("femaleInfo1", conn) #Write DataFrame as Table!

In [34]:
cur.execute("SELECT * FROM femaleInfo1").fetchall()

[(2, 5, 'Stephanie', 'Stewart', 'female'),
 (3, 6, 'Sincere', 'Sherman', 'female'),
 (5, 8, 'Litzy', 'Yates', 'female'),
 (8, 11, 'Kamari', 'Holden', 'female'),
 (9, 12, 'Gaige', 'Summers', 'female'),
 (10, 13, 'Andrea', 'Snow', 'female'),
 (11, 14, 'Angelica', 'Barnes', 'female'),
 (12, 15, 'Leah', 'Pitts', 'female'),
 (16, 19, 'Aubree', 'Hogan', 'female'),
 (18, 21, 'Elianna', 'Simmons', 'female'),
 (20, 23, 'Elaine', 'Mcintosh', 'female'),
 (21, 24, 'Myla', 'Mckenzie', 'female'),
 (22, 25, 'Alijah', 'Horn', 'female'),
 (24, 27, 'Irene', 'Walters', 'female'),
 (25, 28, 'Lilia', 'Sellers', 'female'),
 (26, 29, 'Perla', 'Jefferson', 'female'),
 (27, 30, 'Ashley', 'Klein', 'female')]

### Close Connection

In [35]:
dir(conn)

['DataError',
 'DatabaseError',
 'Error',
 'IntegrityError',
 'InterfaceError',
 'InternalError',
 'NotSupportedError',
 'OperationalError',
 'ProgrammingError',
 'Warning',
 '__call__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__enter__',
 '__eq__',
 '__exit__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'backup',
 'close',
 'commit',
 'create_aggregate',
 'create_collation',
 'create_function',
 'cursor',
 'enable_load_extension',
 'execute',
 'executemany',
 'executescript',
 'in_transaction',
 'interrupt',
 'isolation_level',
 'iterdump',
 'load_extension',
 'rollback',
 'row_factory',
 'set_authorizer',
 'set_progress_handler',
 'set_trace_callback',
 'text_factory',
 'total_changes']

In [ ]:
conn.close() # close the connection to the Database!