## Basics- Indexes, iloc, loc

In [2]:
import pandas as pd

In [3]:
person = {
    "first": "ABC", 
    "last": "DEF", 
    "email": "XYZ@gmail.com"
}

In [4]:
dfperson = pd.Series(person)  #try using Dataframe?
dfperson

first              ABC
last               DEF
email    XYZ@gmail.com
dtype: object

.loc for label based indexing or
.iloc for positional indexing

In [8]:
dfperson.loc['first']   #iloc, loc, ix

'ABC'

In [13]:
#dfperson.iloc['first'] 
#dfperson.ix['first']

C:\Python37\lib\site-packages\ipykernel_launcher.py:2: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

'ABC'

In [14]:
people = {
    "first": ["ABC2"], 
    "last": ["DEF2"], 
    "email": ["XYZ2@gmail.com"]
}

In [15]:
dfpeople = pd.DataFrame(people)  #try using Series
dfpeople

  first  last           email
0  ABC2  DEF2  XYZ2@gmail.com

In [16]:
people = {
    "first": ["Charlie", 'Jane', 'Uncle'], 
    "last": ["Chaplin", 'Does', 'Ben'], 
    "email": ["chaplin@gmail.com", 'JaneDoes@email.com', 'ben@email.com']
}

In [17]:
people['email']

['chaplin@gmail.com', 'JaneDoes@email.com', 'ben@email.com']

In [18]:
df = pd.DataFrame(people)

In [19]:
df

     first     last               email
0  Charlie  Chaplin   chaplin@gmail.com
1     Jane     Does  JaneDoes@email.com
2    Uncle      Ben       ben@email.com

In [20]:
df['email']

0     chaplin@gmail.com
1    JaneDoes@email.com
2         ben@email.com
Name: email, dtype: object

In [21]:
df.email

0     chaplin@gmail.com
1    JaneDoes@email.com
2         ben@email.com
Name: email, dtype: object

In [22]:
df[['last', 'email']]

      last               email
0  Chaplin   chaplin@gmail.com
1     Does  JaneDoes@email.com
2      Ben       ben@email.com

In [23]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [24]:
df.iloc[2]

first            Uncle
last               Ben
email    ben@email.com
Name: 2, dtype: object

In [25]:
df.iloc[[0, 1]] #index 0 and 1

     first     last               email
0  Charlie  Chaplin   chaplin@gmail.com
1     Jane     Does  JaneDoes@email.com

In [26]:
df.iloc[0:2]  #index 0 and 1 using Slice structure

     first     last               email
0  Charlie  Chaplin   chaplin@gmail.com
1     Jane     Does  JaneDoes@email.com

In [27]:
df.iloc[[0, 2], 2]  #index 0 and 2 plus column (assumed as index 2 i.e. 'email') values!

0    chaplin@gmail.com
2        ben@email.com
Name: email, dtype: object

In [31]:
df.iloc[[1, 2], 0:]

   first  last               email
1   Jane  Does  JaneDoes@email.com
2  Uncle   Ben       ben@email.com

In [29]:
df

     first     last               email
0  Charlie  Chaplin   chaplin@gmail.com
1     Jane     Does  JaneDoes@email.com
2    Uncle      Ben       ben@email.com

In [35]:
df.loc[1] #raw use, if seies is required!

first                  Jane
last                   Does
email    JaneDoes@email.com
Name: 1, dtype: object

In [36]:
df.iloc[1] #default use

first                  Jane
last                   Does
email    JaneDoes@email.com
Name: 1, dtype: object

In [62]:
df.loc[[0,1,2], ['email', 'last']]

                email     last
0   chaplin@gmail.com  Chaplin
1  JaneDoes@email.com     Does
2       ben@email.com      Ben

In [63]:
df.loc[1:, ['email', 'last']]

                email  last
1  JaneDoes@email.com  Does
2       ben@email.com   Ben

In [64]:
x= df.loc[1:, ['email', 'last']]
x

                email  last
1  JaneDoes@email.com  Does
2       ben@email.com   Ben

In [65]:
type(x)

pandas.core.frame.DataFrame

In [66]:
x['email']

1    JaneDoes@email.com
2         ben@email.com
Name: email, dtype: object

In [67]:
y=x['email'][2]
y

'ben@email.com'

In [68]:
type(y)

str

<hr/><b>Providing Index</b>

In [73]:
actor = {
    "first": ["Charlie", 'Jane', 'Uncle'], 
    "last": ["Chaplin", 'Does', 'Ben'], 
    "email": ["chaplin@gmail.com", 'JaneDoes@email.com', 'ben@email.com']
}
actors=pd.DataFrame(actor,index=['actor1','actor2','actor3'])
actors

          first     last               email
actor1  Charlie  Chaplin   chaplin@gmail.com
actor2     Jane     Does  JaneDoes@email.com
actor3    Uncle      Ben       ben@email.com

In [74]:
actors.iloc[0]

first              Charlie
last               Chaplin
email    chaplin@gmail.com
Name: actor1, dtype: object

In [75]:
actors.iloc[0,[0,2]]
#actors.iloc[0,'email']

first              Charlie
email    chaplin@gmail.com
Name: actor1, dtype: object

In [76]:
#actors.iloc['actor3']
actors.loc['actor3']

first            Uncle
last               Ben
email    ben@email.com
Name: actor3, dtype: object

In [77]:
actors.loc['actor3','email']

'ben@email.com'

In [78]:
actors.loc['actor3',['email','last']]

email    ben@email.com
last               Ben
Name: actor3, dtype: object

In [80]:
actors.loc[['actor3','actor2'],['email','last']]

                     email  last
actor3       ben@email.com   Ben
actor2  JaneDoes@email.com  Does

<hr/>
<b>set_index()</b>

In [82]:
actors.set_index('email', inplace=True)    #assing existing column values as Indexes!
actors

                      first     last
email
chaplin@gmail.com   Charlie  Chaplin
JaneDoes@email.com     Jane     Does
ben@email.com         Uncle      Ben

In [86]:
actors.index

Index(['chaplin@gmail.com', 'JaneDoes@email.com', 'ben@email.com'], dtype='object', name='email')

In [88]:
actors.loc['JaneDoes@email.com', 'last']

'Does'

In [89]:
actors.iloc[0]

first    Charlie
last     Chaplin
Name: chaplin@gmail.com, dtype: object

<hr/><b>reset_index()</b>

In [90]:
actors.reset_index(inplace=True)
actors

                email    first     last
0   chaplin@gmail.com  Charlie  Chaplin
1  JaneDoes@email.com     Jane     Does
2       ben@email.com    Uncle      Ben

<hr/><b>Filtering using loc</b>

In [91]:
condition = actors.email.str.contains('email')
actors.loc[condition]   #matching condition

                email  first  last
1  JaneDoes@email.com   Jane  Does
2       ben@email.com  Uncle   Ben

In [92]:
actors.loc[~condition] #against condition

               email    first     last
0  chaplin@gmail.com  Charlie  Chaplin

In [93]:
actors.loc[condition,'first']

1     Jane
2    Uncle
Name: first, dtype: object

<hr/><b>Renaming Columns</b>

In [122]:
actors.rename(columns={'first': 'first_name', 'last': 'last_name'}, inplace=True)
actors

                email first_name last_name
0   chaplin@gmail.com    Charlie   Chaplin
1  JaneDoes@email.com       Jane      Does
2       ben@email.com      Uncle       Ben
3     kpbaa@gmail.com       K.P.       Oli
4      test@gmail.com       Test   Testing

<hr/><b>Adding Rows</b>

In [115]:
actors=actors.append({'email':'kpbaa@gmail.com','first_name': 'K.P.', 'last_name': 'Oli'},ignore_index=True)

In [118]:
actors

                email first_name last_name
0   chaplin@gmail.com    Charlie   Chaplin
1  JaneDoes@email.com       Jane      Does
2       ben@email.com      Uncle       Ben
3     kpbaa@gmail.com       K.P.       Oli

In [125]:
actors=actors.append({'email':'test@gmail.com','first_name': 'Test', 'last_name': 'Testing'},ignore_index=True)
actors=actors.append({'email':'test2@gmail.com','first_name': 'Test2', 'last_name': 'Testing2'},ignore_index=True)

In [126]:
actors

                email first_name last_name
0   chaplin@gmail.com    Charlie   Chaplin
1  JaneDoes@email.com       Jane      Does
2       ben@email.com      Uncle       Ben
3     kpbaa@gmail.com       K.P.       Oli
4      test@gmail.com       Test   Testing
5      test@gmail.com       Test   Testing
6     test2@gmail.com      Test2  Testing2
7      test@gmail.com       Test   Testing
8     test2@gmail.com      Test2  Testing2

<hr/><b>Deleting Rows</b>

In [132]:
actors.drop(8)

                email first_name last_name
0   chaplin@gmail.com    Charlie   Chaplin
1  JaneDoes@email.com       Jane      Does
2       ben@email.com      Uncle       Ben
3     kpbaa@gmail.com       K.P.       Oli
4      test@gmail.com       Test   Testing
5      test@gmail.com       Test   Testing
6     test2@gmail.com      Test2  Testing2
7      test@gmail.com       Test   Testing

In [135]:
actors=actors.drop(8)

In [137]:
actors

                email first_name last_name
0   chaplin@gmail.com    Charlie   Chaplin
1  JaneDoes@email.com       Jane      Does
2       ben@email.com      Uncle       Ben
3     kpbaa@gmail.com       K.P.       Oli
4      test@gmail.com       Test   Testing
5      test@gmail.com       Test   Testing
6     test2@gmail.com      Test2  Testing2
7      test@gmail.com       Test   Testing

In [138]:
actors=actors.drop([5,6])

In [139]:
actors

                email first_name last_name
0   chaplin@gmail.com    Charlie   Chaplin
1  JaneDoes@email.com       Jane      Does
2       ben@email.com      Uncle       Ben
3     kpbaa@gmail.com       K.P.       Oli
4      test@gmail.com       Test   Testing
7      test@gmail.com       Test   Testing

In [ ]:
#TASK: Arranging Index in sequence???