In [1]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd

In [9]:
#Now we'll learn DataFrames

#Let's get some data to play with. How about the NFL?
import webbrowser
website = 'http://en.wikipedia.org/wiki/NFL_win-loss_records'
webbrowser.open(website)

True

In [17]:
#nfl_frame0=pd.read_clipboard()

In [18]:
#nfl_frame0

In [10]:
#Copy and read to get data
nfl_frame = pd.read_clipboard()  #TASK?

In [11]:
#Show
nfl_frame.head()

,Rank,Team,GP,Won,Lost,Tied,Pct.,First,NFL,season,Division
1,Green,Bay,Packers,"1,384",769,577,38.000,0.569,1921,NFC,North
2,Dallas,Cowboys,930,526,398,6,0.569,1960.000,NFC,East,None
3,Baltimore,Ravens,400,225,174,1,0.564,1996.000,AFC,North,None
4,Chicago,Bears,"1,418",777,599,42,0.563,1920.000,NFC,North,None
5,New,England,Patriots,932,519,404,9.000,0.562,1960,AFC,East

In [12]:
nfl_frame.tail()

,Rank,Team,GP,Won,Lost,Tied,Pct.,First,NFL,season,Division
28,Houston,Texans,304,135,169,0,0.444,2002.000,AFC,South,None
29,Atlanta,Falcons,848,369,473,6,0.439,1966.000,NFC,South,None
30,Arizona,Cardinals,"1,378",566,771,41,0.426,1920.000,NFC,West,None
31,Jacksonville,Jaguars,416,177,239,0,0.425,1995.000,AFC,South,None
32,Tampa,Bay,Buccaneers,708,278,429,1.000,0.393,1976,NFC,South

In [13]:
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First,NFL,season,Division
1,Green,Bay,Packers,"1,384",769,577,38.000,0.569,1921,NFC,North
2,Dallas,Cowboys,930,526,398,6,0.569,1960.000,NFC,East,None
3,Baltimore,Ravens,400,225,174,1,0.564,1996.000,AFC,North,None
4,Chicago,Bears,"1,418",777,599,42,0.563,1920.000,NFC,North,None
5,New,England,Patriots,932,519,404,9.000,0.562,1960,AFC,East
6,Miami,Dolphins,848,467,377,4,0.553,1966.000,AFC,East,None
7,Minnesota,Vikings,918,495,412,11,0.545,1961.000,NFC,North,None
8,Kansas,City,Chiefs,933,495,426,12.000,0.537,1960,AFC,West
9,Pittsburgh,Steelers,"1,220",643,556,21,0.536,1933.000,AFC,North,None
10,San,Francisco,49ers,"1,050",551,485,14.000,0.531,1950,NFC,West
11,New,York,Giants,"1,353",702,618,33.000,0.531,1925,NFC,East
12,Indianapolis,Colts[d],"1,014",534,473,7,0.530,1953.000,AFC,South,None
13,Denver,Broncos,932,488,434,10,0.529,1960.000,AFC,West,None
14,Las,Vegas,Raiders,932,481,440,11.000,0.522,1960,AFC,West
15,Seattle,Seahawks,708,367,340,1,0.519,1976.000,NFC,West,None
16,Los,Angeles,Rams,"1,183",587,575,21.000,0.505,1937,NFC,West
17,Washington,Football,Team,"1,250",610,612,28.000,0.499,1932,NFC,East
18,Los,Angeles,Chargers,932,459,462,11.000,0.498,1960,AFC,West
19,Cleveland,Browns[e],"1,002",486,505,11,0.491,1950.000,AFC,North,None
20,Philadelphia,Eagles,"1,236",590,619,27,0.488,1933.000,NFC,East,None
21,Tennessee,Titans,932,451,475,6,0.487,1960.000,AFC,South,None
22,Carolina,Panthers,416,200,215,1,0.482,1995.000,NFC,South,None
23,Buffalo,Bills,932,438,486,8,0.474,1960.000,AFC,East,None
24,New,Orleans,Saints,834,387,442,5.000,0.467,1967,NFC,South
25,Detroit,Lions,"1,281",567,681,33,0.456,1930.000,NFC,North,None
26,Cincinnati,Bengals,820,363,452,5,0.446,1968.000,AFC,North,None
27,New,York,Jets,932,410,514,8.000,0.444,1960,AFC,East
28,Houston,Texans,304,135,169,0,0.444,2002.000,AFC,South,None
29,Atlanta,Falcons,848,369,473,6,0.439,1966.000,NFC,South,None
30,Arizona,Cardinals,"1,378",566,771,41,0.426,1920.000,NFC,West,None
31,Jacksonville,Jaguars,416,177,239,0,0.425,1995.000,AFC,South,None
32,Tampa,Bay,Buccaneers,708,278,429,1.000,0.393,1976,NFC,South

In [14]:
type(nfl_frame)

pandas.core.frame.DataFrame

In [15]:
# We can grab the oclumn names with .columns
nfl_frame.columns

Index(['Rank', 'Team', 'GP', 'Won', 'Lost', 'Tied', 'Pct.', 'First', 'NFL',
       'season', 'Division'],
      dtype='object')

In [16]:
#Lets see some specific data columns
DataFrame(nfl_frame,columns=['Team','Won','Lost'])

         Team    Won  Lost
1         Bay  1,384   769
2     Cowboys    526   398
3      Ravens    225   174
4       Bears    777   599
5     England    932   519
6    Dolphins    467   377
7     Vikings    495   412
8        City    933   495
9    Steelers    643   556
10  Francisco  1,050   551
11       York  1,353   702
12   Colts[d]    534   473
13    Broncos    488   434
14      Vegas    932   481
15   Seahawks    367   340
16    Angeles  1,183   587
17   Football  1,250   610
18    Angeles    932   459
19  Browns[e]    486   505
20     Eagles    590   619
21     Titans    451   475
22   Panthers    200   215
23      Bills    438   486
24    Orleans    834   387
25      Lions    567   681
26    Bengals    363   452
27       York    932   410
28     Texans    135   169
29    Falcons    369   473
30  Cardinals    566   771
31    Jaguars    177   239
32        Bay    708   278

In [ ]:
#What happens if we ask for a column that doesn't exist?
#DataFrame(nfl_frame,columns=['Team','First Season','Total Games','Stadium'])

In [11]:
# Call columns
nfl_frame.columns

Index(['Rank', 'Team', 'GP', 'Won', 'Lost', 'Tied', 'Pct.', 'First NFL Season',
       'Division'],
      dtype='object')

In [12]:
#We can retrieve individual columns
nfl_frame.Team.head()

0          Dallas Cowboys
1       Green Bay Packers
2    New England Patriots
3           Chicago Bears
4        Baltimore Ravens
Name: Team, dtype: object

In [17]:
# Or try this method for multiple word columns
nfl_frame['Lost'].tail()

7     475
8     608
9     423
10    423
11    552
Name: Lost, dtype: int64

In [19]:
nfl_frame.Team[2] #value using column name and index!

'New England Patriots'

In [22]:
nfl_frame.Team[2:6]

2    New England Patriots
3           Chicago Bears
4        Baltimore Ravens
5          Miami Dolphins
Name: Team, dtype: object

In [20]:
#We can retrieve rows through indexing
nfl_frame.ix[3] #deprecated!  : ix, iloc : i for Index!

C:\Python37\lib\site-packages\ipykernel_launcher.py:2: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

Rank                            4
Team                Chicago Bears
GP                           1402
Won                           769
Lost                          591
Tied                           42
Pct.                        0.563
First NFL Season             1920
Division                NFC North
Name: 3, dtype: object

In [29]:
nfl_frame.iloc[1]

Rank                                2
Team                Green Bay Packers
GP                              1,368
Won                               756
Lost                              574
Tied                               38
Pct.                            0.567
First NFL Season                 1921
Division                    NFC North
Name: 1, dtype: object

In [21]:
nfl_frame.iloc[1].Lost

574

In [ ]:
#We can also assign values to entire columns
#nfl_frame['Division']="Levi's Stadium" #Careful with the ' here

In [23]:
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division
0,1,Dallas Cowboys,914,520,388,6,0.572,1960,NFC East
1,2,Green Bay Packers,1368,756,574,38,0.567,1921,NFC North
2,3,New England Patriots,916,512,395,9,0.564,1960,AFC East
3,4,Chicago Bears,1402,769,591,42,0.563,1920,NFC North
4,5,Baltimore Ravens,384,214,169,1,0.559,1996,AFC North
5,6,Miami Dolphins,832,457,371,4,0.552,1966,AFC East
6,7,Minnesota Vikings,902,488,403,11,0.547,1961,NFC North
7,8,San Francisco 49ers,1034,545,475,14,0.534,1950,NFC West
8,9,New York Giants,"1,337",696,608,33,0.533,1925,NFC East
9,10,Denver Broncos,916,483,423,10,0.533,1960,AFC West
10,11,Kansas City Chiefs,916,481,423,12,0.532,1960,AFC West
11,12,Pittsburgh Steelers,"1,203",630,552,21,0.532,1933,AFC North

In [24]:
#Putting numbers for stadiums
nfl_frame["Stadium"] = np.arange(5)

#Show
nfl_frame

ValueError: Length of values does not match length of index

In [25]:
# Call columns
nfl_frame.columns

Index(['Rank', 'Team', 'GP', 'Won', 'Lost', 'Tied', 'Pct.', 'First NFL Season',
       'Division'],
      dtype='object')

In [26]:
#Adding a Series to a DataFrame
stadiums = Series(["Levi's Stadium","AT&T Stadium"],index=[4,0])

In [27]:
#Now input into the nfl DataFrame
nfl_frame['Stadium']=stadiums

#Show
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division,Stadium
0,1,Dallas Cowboys,914,520,388,6,0.572,1960,NFC East,AT&T Stadium
1,2,Green Bay Packers,1368,756,574,38,0.567,1921,NFC North,NaN
2,3,New England Patriots,916,512,395,9,0.564,1960,AFC East,NaN
3,4,Chicago Bears,1402,769,591,42,0.563,1920,NFC North,NaN
4,5,Baltimore Ravens,384,214,169,1,0.559,1996,AFC North,Levi's Stadium
5,6,Miami Dolphins,832,457,371,4,0.552,1966,AFC East,NaN
6,7,Minnesota Vikings,902,488,403,11,0.547,1961,NFC North,NaN
7,8,San Francisco 49ers,1034,545,475,14,0.534,1950,NFC West,NaN
8,9,New York Giants,"1,337",696,608,33,0.533,1925,NFC East,NaN
9,10,Denver Broncos,916,483,423,10,0.533,1960,AFC West,NaN
10,11,Kansas City Chiefs,916,481,423,12,0.532,1960,AFC West,NaN
11,12,Pittsburgh Steelers,"1,203",630,552,21,0.532,1933,AFC North,NaN

In [28]:
#We can also delete columns
del nfl_frame['Stadium']

nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division
0,1,Dallas Cowboys,914,520,388,6,0.572,1960,NFC East
1,2,Green Bay Packers,1368,756,574,38,0.567,1921,NFC North
2,3,New England Patriots,916,512,395,9,0.564,1960,AFC East
3,4,Chicago Bears,1402,769,591,42,0.563,1920,NFC North
4,5,Baltimore Ravens,384,214,169,1,0.559,1996,AFC North
5,6,Miami Dolphins,832,457,371,4,0.552,1966,AFC East
6,7,Minnesota Vikings,902,488,403,11,0.547,1961,NFC North
7,8,San Francisco 49ers,1034,545,475,14,0.534,1950,NFC West
8,9,New York Giants,"1,337",696,608,33,0.533,1925,NFC East
9,10,Denver Broncos,916,483,423,10,0.533,1960,AFC West
10,11,Kansas City Chiefs,916,481,423,12,0.532,1960,AFC West
11,12,Pittsburgh Steelers,"1,203",630,552,21,0.532,1933,AFC North

In [29]:
#DataFrames can be constructed many ways. Another way is from a dictionary of equal length lists
data = {
        'City':['SF','LA','NYC'],                 #key: Column, values: rows content
        'Population':[837000,3880000,8400000]
       }

city_frame = DataFrame(data)

#Show
city_frame

  City  Population
0   SF      837000
1   LA     3880000
2  NYC     8400000

In [30]:
city_frame.columns

Index(['City', 'Population'], dtype='object')

In [31]:
city_frame.index #list

RangeIndex(start=0, stop=3, step=1)

In [25]:
#dir(city_frame)

In [32]:
city_frame.City  #naming: column

0     SF
1     LA
2    NYC
Name: City, dtype: object

In [33]:
city_frame.Population

0     837000
1    3880000
2    8400000
Name: Population, dtype: int64

In [34]:
city_frame['Population']

0     837000
1    3880000
2    8400000
Name: Population, dtype: int64

In [35]:
type(city_frame.City)

pandas.core.series.Series

In [36]:
type(city_frame)

pandas.core.frame.DataFrame

In [ ]:
#For full list of ways to create DataFrames from various sources go to teh documentation for pandas:
#website = 'http://pandas.pydata.org/pandas-docs/dev/generated/pandas.DataFrame.html'
#webbrowser.open(website)