In [1]:
#Now we'll elarn about reindexing     df['sum']=pd.to_numeric(df['sum'])  -> NaN   -> df.dtypes

In [2]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd
from numpy.random import randn

In [3]:
#Lets create a new series
ser1 = Series([1,2,3,4],index=['A','B','C','D'])

In [4]:
#Show
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [5]:
#Call reindex to rearrange the data to a new index
ser2 = ser1.reindex(['A','B','C','D','E','F'])

In [6]:
#Show
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [7]:
ser2.std()

1.2909944487358056

In [8]:
# We can alos fill in values for new indexes
ser2.reindex(['A','B','C','D','E','F','G'],fill_value=0)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [9]:
#Using a particular method for filling values
ser3 = Series(['USA','Mexico','Canada'],index=[0,5,10])

#Show
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [10]:
ser3.reindex(range(15))

0        USA
1        NaN
2        NaN
3        NaN
4        NaN
5     Mexico
6        NaN
7        NaN
8        NaN
9        NaN
10    Canada
11       NaN
12       NaN
13       NaN
14       NaN
dtype: object

In [11]:
#Can use a forward fill for interploating values vetween indices 
ser3.reindex(range(15),method='bfill') #bfill - backward , ffill: forward
#ser3.reindex(range(15),method='ffill')

0        USA
1     Mexico
2     Mexico
3     Mexico
4     Mexico
5     Mexico
6     Canada
7     Canada
8     Canada
9     Canada
10    Canada
11       NaN
12       NaN
13       NaN
14       NaN
dtype: object

In [18]:
#Reindexing rows, columns or both

#Lets make a datafram ewith some random values
dframe = DataFrame(randn(25).reshape((5,5)),index=['A','B','D','E','F'],columns=['col1','col2','col3','col4','col5'])

#Show
dframe

       col1      col2      col3      col4      col5
A -1.315637 -0.527865 -0.565542  0.712665  0.976384
B -0.106718  0.412884 -1.019693 -0.757882 -1.124972
D  1.122823 -0.012607  0.340932 -0.396791  0.110247
E -0.866503 -1.136626 -0.111277 -0.000358  0.349786
F  0.645412 -0.322991  1.037850  0.501209 -1.303741

In [19]:
dframe['col6']=0
dframe

       col1      col2      col3      col4      col5  col6
A -1.315637 -0.527865 -0.565542  0.712665  0.976384     0
B -0.106718  0.412884 -1.019693 -0.757882 -1.124972     0
D  1.122823 -0.012607  0.340932 -0.396791  0.110247     0
E -0.866503 -1.136626 -0.111277 -0.000358  0.349786     0
F  0.645412 -0.322991  1.037850  0.501209 -1.303741     0

In [13]:
#Notice we forgot 'C' , lets reindex it into dframe
dframe2 = dframe.reindex(['A','B','C','D','E','F'])   #Not Suggested

In [14]:
dframe2

       col1      col2      col3      col4      col5
A  1.135694  1.547552 -0.792934  0.014109 -1.830938
B -0.996675  1.237830 -0.941801  1.806815  0.285001
C       NaN       NaN       NaN       NaN       NaN
D -0.363360  0.855729 -1.203952 -0.698235  0.129701
E  1.378005  0.487234  0.591937 -0.324336 -2.584759
F -1.687589 -0.041656 -0.240757 -0.605360  0.242867

In [15]:
#Can also explicitly reindex columns
new_columns = ['col1','col2','col3','col4','col5','col6']
dframe2.reindex(columns=new_columns)      #Not Suggested

       col1      col2      col3      col4      col5  col6
A  1.135694  1.547552 -0.792934  0.014109 -1.830938   NaN
B -0.996675  1.237830 -0.941801  1.806815  0.285001   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.363360  0.855729 -1.203952 -0.698235  0.129701   NaN
E  1.378005  0.487234  0.591937 -0.324336 -2.584759   NaN
F -1.687589 -0.041656 -0.240757 -0.605360  0.242867   NaN

In [16]:
#Reindex quickly using the label-indexing with ix (we'll see this more in the future)    #Show original
dframe

       col1      col2      col3      col4      col5
A  1.135694  1.547552 -0.792934  0.014109 -1.830938
B -0.996675  1.237830 -0.941801  1.806815  0.285001
D -0.363360  0.855729 -1.203952 -0.698235  0.129701
E  1.378005  0.487234  0.591937 -0.324336 -2.584759
F -1.687589 -0.041656 -0.240757 -0.605360  0.242867

In [17]:
dframe.loc[['A','B','C','D','E','F'],new_columns]                     #['col1','col2','col3','col4','col5','col6']      #similar to reindex()!

#dframe.loc[['A','B','D','E','F'],['col1','col2','col3','col4','col5']]

KeyError: "Passing list-likes to .loc or [] with any missing labels is no longer supported. The following labels were missing: Index(['C'], dtype='object'). See https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike"

In [ ]:
dframe.loc[['A','B'],['col1','col2']]

In [ ]:
#inPlace=True