In [11]:
#Now we'll learn about dropping entries
import numpy as np
from pandas import Series,DataFrame
import pandas as pd

In [28]:
#Create a new series to play with
ser1 = Series(np.arange(3),index=['a','b','c'])

#Show
ser1

a    0
b    1
c    2
dtype: int32

In [23]:
ser1.index

Index(['a', 'b', 'c'], dtype='object')

In [24]:
#ser1.columns

AttributeError: 'Series' object has no attribute 'columns'

a=20
del a

In [13]:
#Now let's drop an index
ser1.drop('b')  #assignment missing!

#ser1  = ser1.drop('b') #delete and update series

a    0
c    2
dtype: int32

In [14]:
ser1

a    0
b    1
c    2
dtype: int32

In [15]:
#With a DataFrame we can drop values from either axis
dframe1 = DataFrame(np.arange(9).reshape((3,3)),index=['SF','LA','NY'],columns=['pop','size','year'])

#Show (remember just random values)
dframe1                                   #shape,ndim

    pop  size  year
SF    0     1     2
LA    3     4     5
NY    6     7     8

In [16]:
#Now dropping a row
dframe1.drop('LA')

    pop  size  year
SF    0     1     2
NY    6     7     8

In [17]:
dframe1

    pop  size  year
SF    0     1     2
LA    3     4     5
NY    6     7     8

In [19]:
#dframe1.drop('year')

In [20]:
#Or we could drop a column

#Need to specify that axis is 1: column, not 0:index
dframe2 = dframe1.drop('year',axis=1)

In [21]:
dframe2
#Next we'll learn about selecting entires in a DataFrame!

    pop  size
SF    0     1
LA    3     4
NY    6     7

In [22]:
dframe1

    pop  size  year
SF    0     1     2
LA    3     4     5
NY    6     7     8

In [ ]:
#x=0
#del df['a']