## Basics- Indexes, iloc, loc

In [1]:
import pandas as pd
people = {
    "first": ["Charlie", 'Jane', 'Uncle'], 
    "last": ["Chaplin", 'Does', 'Ben'], 
    "email": ["chaplin@gmail.com", 'JaneDoes@email.com', 'ben@email.com']
}

In [2]:
df = pd.DataFrame(people)
df

     first     last               email
0  Charlie  Chaplin   chaplin@gmail.com
1     Jane     Does  JaneDoes@email.com
2    Uncle      Ben       ben@email.com

In [3]:
len(df.columns)

3

In [4]:
df.insert(1,'middlename',['m','n','o']) #position, name, [value,value1,..]

In [5]:
df

     first middlename     last               email
0  Charlie          m  Chaplin   chaplin@gmail.com
1     Jane          n     Does  JaneDoes@email.com
2    Uncle          o      Ben       ben@email.com

In [6]:
df['age']=[34,45,36]

In [7]:
df

     first middlename     last               email  age
0  Charlie          m  Chaplin   chaplin@gmail.com   34
1     Jane          n     Does  JaneDoes@email.com   45
2    Uncle          o      Ben       ben@email.com   36

In [8]:
person = {
    "first": ["ABC","CDF"], 
    "last": ["DEF","JHK"], 
    "email": ["XYZ@gmail.com"]
}

In [9]:
dfperson = pd.DataFrame(person,index=['a','b'])  #try using Dataframe?
dfperson

  first last          email
a   ABC  DEF  XYZ@gmail.com
b   CDF  JHK  XYZ@gmail.com

In [10]:
person = {
    "first": "ABC",
    "last": "DEF", 
    "email": "XYZ@gmail.com"
}
#person=["ABC","DEF"]
dfperson1 = pd.Series(person)
dfperson1

first              ABC
last               DEF
email    XYZ@gmail.com
dtype: object

In [11]:
dfperson.index

Index(['a', 'b'], dtype='object')

In [12]:
dfperson.columns

Index(['first', 'last', 'email'], dtype='object')

<hr />
.loc for label/string based indexing or
.iloc for positional indexing

In [13]:
dfperson.loc['email']   #iloc, loc, ix

KeyError: 'email'

In [ ]:
dfperson.iloc[2]  #for integer index
#dfperson.ix['first']

In [ ]:
people = {
    "first": ["ABC2"], 
    "last": ["DEF2"], 
    "email": ["XYZ2@gmail.com"]
}

In [ ]:
dfpeople = pd.DataFrame(people)#,index=["first"])  #try using Series
#dfpeople = pd.Series(people)
dfpeople

In [ ]:
dfpeople[0]='TEST' #   (index=[start:stop:step])

In [ ]:
dfpeople

In [ ]:
dfpeople['email']

In [ ]:
dfpeople.iloc[0]

In [ ]:
people = {
    "first": ["Charlie", 'Jane', 'Uncle'], 
    "last": ["Chaplin", 'Does', 'Ben'], 
    "email": ["chaplin@gmail.com", 'JaneDoes@email.com', 'ben@email.com']
}

In [ ]:
df = pd.DataFrame(people)
df

In [ ]:
df['email']

In [ ]:
type(df['email'])

In [ ]:
df.email

In [ ]:
df.columns

In [ ]:
df.index

In [ ]:
df[['last', 'email','first']] #df[['last','email']]

In [ ]:
df.iloc[2]

In [ ]:
df.iloc[[0, 1]] #index 0 and 1

In [ ]:
df.iloc[0:2]
#df.iloc[0:2].email   #index 0 and 1 using Slice structure
#df.iloc[0:2].2

In [ ]:
df.iloc[[0, 2], 2]  #index 0 and 2 plus column (assumed as index 2 i.e. 'email') values!

In [ ]:
#df.iloc[[0,2],email] 
df.iloc[0:2].email

In [ ]:
df.iloc[[1,2], :1] #1 till All '1:'

In [ ]:
df #New Class!!

In [ ]:
df.loc[1] #raw use, if seies is required!

In [ ]:
df.iloc[1] #default use

In [ ]:
#df.iloc[[0,1,2],['email', 'last']]

In [ ]:
df.loc[1:, ['email', 'last']]

In [ ]:
x= df.loc[1:, ['email', 'last']]
x

In [ ]:
type(x)

In [ ]:
x['email']

In [ ]:
y=x['email'][2]
y

In [ ]:
type(y)

<hr/><b>Providing Index</b>

In [ ]:
actor = {
    "first": ["Charlie", 'Jane', 'Uncle'], 
    "last": ["Chaplin", 'Does', 'Ben'], 
    "email": ["chaplin@gmail.com", 'JaneDoes@email.com', 'ben@email.com']
}
actors=pd.DataFrame(actor,index=['actor1','actor2','actor3'])
actors

In [ ]:
actors.index

In [ ]:
actors.columns

In [ ]:
actors.iloc[1]

In [ ]:
actors.iloc[0,[0,2]]  #iloc[rowindex,[colindex1,colindex2]]
#actors.iloc[0,'email']

In [ ]:
#actors.iloc['actor3']
actors.loc['actor3']

In [ ]:
actors.loc['actor3','email']

In [ ]:
actors.loc['actor3',['email','last']]

In [ ]:
actors.loc[['actor3','actor2'],['email','last']]

<hr/>
<b>set_index()</b>

In [ ]:
actors

In [ ]:
actors.set_index('email',inplace=True)    #assing existing column values as Indexes!
actors

In [ ]:
actors.index

In [ ]:
actors.loc['JaneDoes@email.com', 'last']

In [ ]:
actors.iloc[0] #actors.loc['chaplin@gmail.com']

<hr/><b>reset_index()</b>

In [ ]:
actors.reset_index(inplace=True) #TEST
actors

<hr/><b>Filtering using loc</b>

In [ ]:
actors.email

In [ ]:
condition = actors.email.str.contains('email')
actors.loc[condition]   #matching condition

In [ ]:
actors.loc[~condition] #against condition

In [ ]:
actors.loc[condition,'first']

<hr/><b>Renaming Columns</b>

In [ ]:
actors

In [ ]:
actors.rename(columns={'first': 'first_name', 'last': 'last_name'}, inplace=True)
actors

In [ ]:
#actors.to_csv('testNew.csv')

<hr/><b>Adding Rows</b> # Don't Use

In [ ]:
actors=actors.append(pd.Series({'email':'kpbaa@gmail.com','first_name': 'K.P.', 'last_name': 'Oli'}),ignore_index=True)

In [ ]:
actors

In [ ]:
actors=actors.append({'email':'test@gmail.com','first_name': 'Test', 'last_name': 'Testing'},ignore_index=True)
actors=actors.append({'email':'test2@gmail.com','first_name': 'Test2', 'last_name': 'Testing2'},ignore_index=True)

In [ ]:
actors

<hr/><b>Deleting Rows</b>

In [ ]:
actors.drop([7,8,9],inplace=True)  #reset_index()

In [ ]:
actors

In [ ]:
#actors=actors.drop(8)

In [ ]:
actors

In [ ]:
actorsXYZ = actors.drop([2,3]) #inplace=False

In [ ]:
actorsXYZ

In [ ]:
actors

# TASK: Arranging Index in sequence???

In [ ]:
# ffill: reindex()
# email: NaN: random appropriate address 
#actors= actors.reindex()
actor2 = actorsXYZ.reset_index()

In [ ]:
actor2

In [ ]:
actor2.index

In [ ]:
actor2.columns

In [ ]:
actor2

In [ ]:
actor2.drop(['email','index'],axis=1,inplace=True) #dropping Column using axis https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop.html?highlight=drop#pandas.DataFrame.drop

In [ ]:
actor2

## TASK: pd.append(ROW) -> how can we add Column?

## TASK
### 1. df1
### 2. df2
### 3. df3
### Create a single excel file (dataframe.xlsx) and all above df1,df2,df3 should be in separate Sheet!

## Overview: research 'Dtale' - EDA (pandas profiling)