In [1]:
import pandas as pd
import numpy as np

In [2]:
df2 = pd.DataFrame(np.random.randn(5,5))   #randn(row,column) -> shape
df2

          0         1         2         3         4
0 -0.435006  0.026115 -1.685773 -0.337814 -0.239717
1  0.391558 -0.832352  0.580353 -0.227056 -0.020329
2 -0.274347 -0.132890 -0.235186  2.128746 -1.289231
3 -1.833016 -0.083143  1.022600  0.819641  1.281306
4  0.451806  1.326058 -0.548171 -0.230698 -0.754974

In [3]:
df2[0].skew()

-1.2961762745224876

In [4]:
df2.columns[3]

3

In [5]:
df = pd.DataFrame(np.random.randn(5, 3), index=['A', 'c', 'Ce', 'f', 'h'], columns=['One', 'Two', 'Three'])  #effective

In [6]:
df

         One       Two     Three
A  -1.597476 -1.170257  0.780770
c  -0.353095 -1.451007 -0.971330
Ce -0.909481 -2.647537 -0.928126
f   0.149582 -0.991645 -0.564719
h  -1.055722 -0.820281  0.490693

In [7]:
list(df2.columns)

[0, 1, 2, 3, 4]

In [8]:
df.columns

Index(['One', 'Two', 'Three'], dtype='object')

In [9]:
df.index

Index(['A', 'c', 'Ce', 'f', 'h'], dtype='object')

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, A to h
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   One     5 non-null      float64
 1   Two     5 non-null      float64
 2   Three   5 non-null      float64
dtypes: float64(3)
memory usage: 160.0+ bytes

In [11]:
df.describe()

            One       Two     Three
count  5.000000  5.000000  5.000000
mean  -0.753238 -1.416146 -0.238542
std    0.671536  0.726852  0.820012
min   -1.597476 -2.647537 -0.971330
25%   -1.055722 -1.451007 -0.928126
50%   -0.909481 -1.170257 -0.564719
75%   -0.353095 -0.991645  0.490693
max    0.149582 -0.820281  0.780770

In [12]:
#add a column with default value
df['four']=0.99
df

         One       Two     Three  four
A  -1.597476 -1.170257  0.780770  0.99
c  -0.353095 -1.451007 -0.971330  0.99
Ce -0.909481 -2.647537 -0.928126  0.99
f   0.149582 -0.991645 -0.564719  0.99
h  -1.055722 -0.820281  0.490693  0.99

In [13]:
#add a column with multiple default values
df['five']=[1,2,3,4,5]
df

         One       Two     Three  four  five
A  -1.597476 -1.170257  0.780770  0.99     1
c  -0.353095 -1.451007 -0.971330  0.99     2
Ce -0.909481 -2.647537 -0.928126  0.99     3
f   0.149582 -0.991645 -0.564719  0.99     4
h  -1.055722 -0.820281  0.490693  0.99     5

In [14]:
df['One'] > 0

A     False
c     False
Ce    False
f      True
h     False
Name: One, dtype: bool

In [15]:
df['six']= df['One'] > 0  #new column with values refering existing column
df

         One       Two     Three  four  five    six
A  -1.597476 -1.170257  0.780770  0.99     1  False
c  -0.353095 -1.451007 -0.971330  0.99     2  False
Ce -0.909481 -2.647537 -0.928126  0.99     3  False
f   0.149582 -0.991645 -0.564719  0.99     4   True
h  -1.055722 -0.820281  0.490693  0.99     5  False

In [16]:
df['Three'] < 0

A     False
c      True
Ce     True
f      True
h     False
Name: Three, dtype: bool

In [17]:
df['Three'] = df['Three'] < 0
df

         One       Two  Three  four  five    six
A  -1.597476 -1.170257  False  0.99     1  False
c  -0.353095 -1.451007   True  0.99     2  False
Ce -0.909481 -2.647537   True  0.99     3  False
f   0.149582 -0.991645   True  0.99     4   True
h  -1.055722 -0.820281  False  0.99     5  False

In [18]:
df['two'][0]

KeyError: 'two'

In [ ]:
df['two'][0]=0.0

#df.loc['A']['two']=0.55  # TASK

In [ ]:
df

In [ ]:
t = pd.DataFrame({'one':1,'two':2,'three':3,'four':4,'five':5,'six':6},index=['a'])
t

In [ ]:
#df=df.append({'one':1,'two':2,'three':3,'four':4,'five':5,'six':6},ignore_index=True)  #TEST
#df

In [ ]:
df=df.append(pd.Series({'one':1,'two':2,'three':3,'four':4,'five':5,'six':6},name='k'))  #check column: 'six'  # drop"na"
df

In [ ]:
df=df.append(pd.DataFrame({'one':1,'two':2,'three':3,'four':4,'five':5,'six':6},index=['m']))
df

In [ ]:
df=df.append(pd.Series({'one':1,'two':2,'three':3,'four':4,'five':5,'six':6},name='p'))
df

In [ ]:
df['five'].value_counts().sum()

In [ ]:
l=[1,20,30]
min(l)

In [ ]:
df['five'].sum()

In [ ]:
df['five'].cumsum()

In [ ]:
df['five'].prod()

In [ ]:
df['five'].cumprod()

In [ ]:
df['ten']=df['five'].cumprod()

In [ ]:
df

In [ ]:
df.loc['A'].sum()  # TASK: New column with sum from all existing column value for each indexes.

In [ ]:
df['five'].min()

In [ ]:
df['five'].max()

In [ ]:
df

In [ ]:
df['five'].loc[['A','Ce']]

In [ ]:
df.five.A       #df['five']['a']

In [ ]:
df['six'].loc['A,p'] = '' #trick -  don't append index for single column!

In [ ]:
df

In [ ]:
df['six'].loc['A,p']=3

In [ ]:
df

In [ ]:
df['six'].loc[['A','p','k']]

In [ ]:
df['six'].loc[['A','p','k']]=3

In [ ]:
#df['five'].loc['a,p']

In [ ]:
df

In [ ]:
df.to_csv('test.csv')

In [ ]:
#df['six'].loc['A,p']=9

In [ ]:
df

In [ ]:
df['six']

In [ ]:
df['five']