In [2]:
import pandas as pd

In [6]:
aug10=pd.read_clipboard() #read from memory!
aug10

           Sub-Indices    Current  Points Change  %Change  Unnamed: 4
0              Banking   2,124.94           8.99     0.42         NaN
1              Trading   3,861.97          59.17     1.51         NaN
2   Hotels And Tourism   3,763.83          37.84     1.00         NaN
3     Development Bank   5,749.25         344.41     6.37         NaN
4           HydroPower   3,813.06          24.08     0.63         NaN
5              Finance   3,012.96          31.77     1.07         NaN
6   Non Life Insurance  14,662.46          12.23     0.08         NaN
7          Manu.& Pro.   6,822.36          99.25     1.48         NaN
8               Others   2,117.58           9.10     0.43         NaN
9         Microfinance   5,761.34           5.65     0.10         NaN
10      Life Insurance  18,213.37          31.05     0.17         NaN
11         Mutual Fund      17.45           0.08     0.45         NaN
12          Investment     118.05           1.71     1.47         NaN

In [27]:
aug10.head()

          Sub-Indices   Current  Points Change  %Change  Unnamed: 4
0             Banking  2,124.94           8.99     0.42         NaN
1             Trading  3,861.97          59.17     1.51         NaN
2  Hotels And Tourism  3,763.83          37.84     1.00         NaN
3    Development Bank  5,749.25         344.41     6.37         NaN
4          HydroPower  3,813.06          24.08     0.63         NaN

In [19]:
aug10.loc[aug10["Sub-Indices"]=="Finance",:].shape[0]-.9

0.09999999999999998

In [24]:
aug10.loc[aug10["Sub-Indices"]=="Finance",:].shape

(1, 5)

In [25]:
aug10.loc[aug10["Sub-Indices"]=="Finance",:].shape[0]

1

In [26]:
aug10.loc[aug10["Sub-Indices"]=="Finance",:]

  Sub-Indices   Current  Points Change  %Change  Unnamed: 4
5     Finance  3,012.96          31.77     1.07         NaN

In [23]:
#aug10["Sub-Indices"]=="Finance" for position
#"current" as column name

aug10.loc[aug10["Sub-Indices"]=="Finance","Current"]

array(['3,012.96'], dtype=object)

In [28]:
aug10.loc[aug10["Sub-Indices"]=="Finance","Current"][-1:] #all value from last

5    3,012.96
Name: Current, dtype: object

In [29]:
aug10.loc[aug10["Sub-Indices"]=="Finance","Current"][-1:].values

array(['3,012.96'], dtype=object)

In [30]:
aug10.loc[aug10["Sub-Indices"]=="Finance","Current"][-1:].values[0]

'3,012.96'

In [ ]:
# Prep Colors
#np.random.seed(100)
#mycolors = np.random.choice(list(mpl.colors.XKCD_COLORS.keys()), len(years),replace=False)
          
# Draw Plot
#plt.figure(figsize=(16,12), dpi= 80)
          
for i, y in enumerate(years):  
if i > 0:
    plt.plot("month", "value", data=X.loc[X.year==y, :], color=mycolors[i],label=y)
    plt.text(X.loc[X.year==y, :].shape[0]-.9, X.loc[X.year==y, "value"][-1:].values[0], y, fontsize=12, color=mycolors[i])

In [7]:
aug10.dtypes

Sub-Indices       object
Current           object
Points Change    float64
%Change          float64
Unnamed: 4       float64
dtype: object

In [8]:
aug10.describe()

       Points Change    %Change  Unnamed: 4
count      13.000000  13.000000         0.0
mean       51.179231   1.167692         NaN
std        92.309274   1.649081         NaN
min         0.080000   0.080000         NaN
25%         8.990000   0.420000         NaN
50%        24.080000   0.630000         NaN
75%        37.840000   1.470000         NaN
max       344.410000   6.370000         NaN

In [8]:
aug10.to_csv('aug10.csv')

In [2]:
#pages = range(1,13)

import pyquery
import bs4 
import scrapy

#url='http://nepalstock.com/main/todays_price/index/'+page+'/'    #normal

#url='http://nepalstock.com/main/todays_price/index/'+page+'/?startDate=&stock-symbol=&_limit=50'    #filter

#http://nepalstock.com/main/todays_price/index/1/?startDate=&stock-symbol=&_limit=500

#response = requests.post('http://httpbin.org/post',data=params,headers=headers).json()
#response = requests.post(
'https://newweb.nepalstock.com/api/nots/nepse-data/floorsheet?page=50&size=500&sort=contractId,desc',
data='{"id":668}').json() or .text

# https://newweb.nepalstock.com/api/nots/nepse-data/floorsheet?&sort=contractId,desc
# https://newweb.nepalstock.com/api/nots/nepse-data/floorsheet?&size=500&sort=contractId,desc 
# https://newweb.nepalstock.com/api/nots/nepse-data/floorsheet?page=50&size=500&sort=contractId,desc
    
#l=[0,1,[2,3,[4,5,6,[7,8,9],10],11],100]  #traverse -> parsing
l[0][2][3][1]

for page in pages:
    url = 'http://nepalstock.com/main/todays_price/index/'+str(page)+'/'
    
    
    #load(GET/POST) page # urllib, requests, lxml
    #content read
    #bs4, scrapy, pyquery, lxml,re - content -> Collect -> Traversing and Parsing
    #collected process

In [5]:
import requests
from pyquery import PyQuery as pq

In [24]:
url="http://nepalstock.com/floorsheet"

In [25]:
source=requests.get(url)

In [26]:
source

In [27]:
pagesource = source.content

html = pq(pagesource) #important html source -> pyquery object
#dir(html)

In [35]:
html.find('title').text()

'Nepal Stock Exchange Ltd.'

In [36]:
dataset=list()
html.find('table:first tr:eq(1)').text()

'S.N.\nContract No\nStock Symbol\nBuyer Broker\nSeller Broker\nQuantity\nRate\nAmount'

In [45]:
rows = html.find('table:first tr')
for row in rows.items():
    row.html()

In [18]:
#html.find('b:eq(3)').text()  # :eq(0) , :eq(99) ,  :first , :last

'UPPER'

In [19]:
#title = html.find('b').text()
#html.find('div#top-notice-bar b').text()
#title

'Market Close'

In [22]:
#html.find('div.market-status:eq(0) b:eq(0)').text()

'Market Close'

In [23]:
#html.find('meta:eq(2)').attr('content')

'NEPSE Official Website'

In [15]:
#dir(source)

['__attrs__',
 '__bool__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__enter__',
 '__eq__',
 '__exit__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__nonzero__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_content',
 '_content_consumed',
 '_next',
 'apparent_encoding',
 'close',
 'connection',
 'content',
 'cookies',
 'elapsed',
 'encoding',
 'headers',
 'history',
 'is_permanent_redirect',
 'is_redirect',
 'iter_content',
 'iter_lines',
 'json',
 'links',
 'next',
 'ok',
 'raise_for_status',
 'raw',
 'reason',
 'request',
 'status_code',
 'text',
 'url']

In [ ]:
 # Xpath, Css selectors